page-about {
  ion-navbar {
    position: relative;
    .arrow-back {
      position: absolute;
      left: 4.4%;
      top: 50%;
      width: 10px;
      height: 19px;
      margin-top: -9px;
      background-image: url("../assets/imgs/arrow-back.png");
      background-size: contain;
    }
  }

  .br {
    width: 100%;
    height: 50px;
  }

  .cloud-page {
    .clude {
      width: 91.6%;
      margin: 15px auto 0;
      padding: 25px 6%;
      background-color: white;
      color: $main-text;
      border-radius: 10px;
      overflow: hidden;
      img {
        float: left;
        width: 30px;
        height: 27px;
        margin-right: 4.5%;
      }
      .title {
        float: left;
        line-height: 27px;
      }
    }
  }

  .sort-page {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    .sort-content {
      position: absolute;
      right: 0;
      top: 0;
      width: 85%;
      height: 100%;
      padding-left: 4.9%;
      background-color: white;
      .sort-title {
        margin-top: 26px;
        margin-bottom: 15px;
        font-size: 16px;
        color: $main-text;
      }
      .sort-list {
        overflow: hidden;
        .sort-item {
          float: left;
          width: 29.8%;
          line-height: 28px;
          margin-right: 3.5%;
          text-align: center;
          border: 1px solid $box-border;
          border-radius: 3px;
          &.active {
            color: $green;
            background-color: rgba(5,209,175,.1);
            border: 1px solid $green;
          }
        }
      }
      .sort-btn {
        position: absolute;
        width: 107%;
        left: 0;
        bottom: 100px;
        padding-left: 8%;
        overflow: hidden;
      }
    }
  }


  .status-page {
    padding-top: 35px;
    @for $i from 1 to 3 {
      .status-item-#{$i} {
        width: 83%;
        height: 100px;
        padding: 22px 5% 24px 12%;
        margin-left: auto;
        margin-right: auto;
        background-image: url("../assets/imgs/status/bg_warm_#{$i}.png");
        background-size: cover;
      }
    }
    .icon-warn {
      float: left;
      width: 55px;
      height: 58px;
      background-image: url("../assets/imgs/status/icon_warn.png");
      background-size: cover;
    }
    .icon-normal {
      float: left;
      width:62px;
      height:58px;
      background-image: url("../assets/imgs/status/icon_normal.png");
      background-size: cover;
    }
    .word {
      float: left;
      margin-left: 10%;
      line-height: 58px;
    }

  }

  .wait-img {
    width: 92%;
    height: 205px;
    margin: 15px auto;
    img {
      max-width: 100%;
    }
  }

  .problem-detail {
    width: 100%;
    padding: 20px 15px 22px 15px;
    background-color: white;
    & + .problem-detail {
      margin-top: 15px;
    }
    .head {
      position: relative;
      height: 70px;
      overflow: hidden;
      .avatar-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        height: 70px;
      }
      .avatar-body {
        margin-left: 85px;
        overflow: hidden;
        .name {
          position: relative;
          font-size: 18px;
          color: #333;
          .time {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 12px;
            vertical-align: bottom;
            color: $secondary-text;
          }
        }
        .detail {
          margin-top: 6px;
          color: $secondary-text;
        }
        .firm {
          margin-top: 8px;
          font-size: 12px;
          color: #999;
        }
      }
    }
    .problem-img {
      width: 97%;
      height: 200px;
      margin: 25px auto 0 auto;
      overflow: hidden;
      img {
        max-width: 100%;
      }
    }
    .word {
      font-size: 16px;
      margin-top: 22px;
    }
  }

  .import-img {
    padding-top: 3px;
    overflow: hidden;
    .item-img {
      position: relative;
      float: left;
      width: 32%;
      margin-bottom: 3px;
      margin-left: .8%;
      img {
        width: 100%;
        vertical-align: top;
      }
      [class*='icon-radio-'] {
        position: absolute;
        right: 3px;
        top: 3px;
        margin-top: 0;
      }
    }
  }

  //报价
  .quote {
    float: left;
    width: 50%;
    height: 40px;
    font-size: 11px;
    color: $gray-light;
    .count {
      font-family: Microsoft YaHei;
      font-size: 18px;
      margin-top: 10px;
      color: black;
    }
  }

  .sub-orders {
    color: $gray;
    .title {
      position: relative;
      margin-bottom: 28px;
      margin-top: 0;
      color: $gray;
      font-size: 16px;
      &:before {
        content: '';
        position: absolute;
        left: -15px;
        top: 0;
        width: 3px;
        height: 18px;
        background-color: $green;
      }
    }
    .sub-title {
      margin-bottom: 12px;
      margin-top: 0;
      font-size: 14px;
      color: $gray-light;
    }
    .type-detail {
      margin-bottom: 36px;
      li + li {
        margin-top: 11px;
      }
      em:after {
        content: '>';
        margin-left: 3px;
      }
      span {
        padding: 4px 8px;
        font-size: 12px;
        border-radius: 17px;
        color: #7DE2B8;
        background-color: #edfdf5;
      }
    }
    .work-hours {
      margin-bottom: 32px;
      overflow: hidden;
      span {
        float: left;
      }
    }
    .stuff {
      overflow: hidden;
      & + .stuff {
        margin-top: 15px;
      }
      img {
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
      .intro {
        float: left;
        font-size: 17px;
      }
      .value {
        float: right;
        text-align: right;
        font-size: 12px;
        .price {
          font-weight: bold;
          font-family: PingFang SC;
        }
        .count {
          color: $gray-light;
        }
      }
    }
  }

  //店面信息
  .store-info {
    position: relative;
    width: 100%;
    height: 242px;
    margin-bottom: 5px;
    color: white;
    text-align: center;
    background-image: url("../assets/imgs/bg/bg_store.png");
    background-size: cover;
    overflow: hidden;
    .shop-logo {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -38px;
      margin-top: -38px;
      width: 75px;
      height: 75px;
      border: 2.5px solid rgba(255,255,255,.5);
      border-radius: 50%;
    }
    .shop-name {
      margin-top: 175px;
      font-size: 16px;
      font-family:PingFang-SC-Medium;
    }
  }
  .media-phone {
    margin-top: 5px !important;
    padding-top: 14px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
    .phone-number {
      font-size:16px;
      color: $gray;
      margin-bottom: 2px;
    }
    .store-manager {
      color: #9197A0;
      font-size: 12px;
      span + span:before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 13px;
        margin-left: 8px;
        margin-right: 8px;
        background-color: #9197A0;
        vertical-align: middle;
      }
    }
  }

  //工人信息
  .worker-info {
    position: relative;
    width: 100%;
    height: 200px;
    padding: 81px 0 30px 6.9%;
    background-image: url("../assets/imgs/bg/bg_worker.png");
    background-size: cover;
    .worker-img {
      position: absolute;
      left: 6.9%;
      top: 81px;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2.5px solid rgba(255, 255, 255, .5);
    }
    .worker-body {
      float: left;
      margin-left: 32%;
      color: white;
      .name {
        font-size: 18px;
        margin-top: 8px;
      }
      .phone {
        height: 18px;
        margin-top: 8px;
        font-size: 14px;
        vertical-align: middle;
      }
      .worker-id {
        margin-top: 8px;
        font-size: 13px;
        .store-name {
          margin-left: 15px;
        }
      }
    }
  }

  .worker-rate {
    padding: 50px 5.6%;
    background-color: white;
    .rate {
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      .rate-item {
        float: left;
        width: 29%;
        height: 28px;
        text-align: center;
        line-height: 28px;
        color: $secondary-text;
        border: 1px solid $box-border;
        border-radius: 3px;
        & + .rate-item {
          margin-left: 6%;
        }
        &.active {
          color: $green;
          background-color:rgba(5, 209, 175, .1);
          border: 1px solid $green;
        }
      }

    }
  }

  .worker-data {
    position: relative;
    margin-top: 10px;
    padding: 50px 5px 44px 20px;
    background-color: white;
    overflow: hidden;
    .data {
      width: 55%;
      .title {
        font-size: 16px;
        .num {
          font-size: 24px;
          color: $green;
        }
        .gray {
          font-size: 13px;
          color: $secondary-text;
        }
      }
      .data-item {
        margin-top: 35px;
        overflow: hidden;
        .count {
          float: left;
          width: 26%;
          font-size: 22px;
          text-align: center;
          & + .count {
            margin-left: 11%;
          }
          .detail {
            display: block;
            margin-top: 5px;
            font-size: 12px;
            color: $secondary-text;
          }
          [class*='bg-'] {
            display: block;
            width: 15px;
            height: 2px;
            margin: 10px auto 0;
          }
          .bg-green {
            background-color: $green;
          }
          .bg-yellow {
            background-color: #FDD102;
          }
          .bg-blue {
            background-color: #5C73FC;
          }
        }
      }
    }
  }
}
