

page-about {
  ion-navbar {
    position: relative;
    .arrow-back {
      position: absolute;
      left: 4.4%;
      top: 50%;
      width: 10px;
      height: 19px;
      margin-top: -9px;
      background-image: url("../assets/imgs/arrow-back.png");
      background-size: contain;
    }
  }
  .ibox {
    background-color: white;
  }
  .count {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    .item-list {
      width: 105%;
      margin-left: -2.5%;
      color:rgba(53,53,53,1);
      overflow: hidden;
      .item {
        float: left;
        width: 33%;
        height: 105px;
        padding: 22px 0;
        font-size: 12px;
        border-bottom: 1px solid #E7E8E8;
        &:last-child {
          margin-right: 0;
        }
        .item-img {
          width: 100%;
          line-height: 35px;
          text-align: center;
          img {
            max-width: 24%;
            display: inline-block;
            vertical-align: middle;
          }
        }
        .title {
          margin-top: 12px;
          margin-bottom: 0;
          text-align: center;
        }
      }
    }
  }

  .br {
    width: 100%;
    height: 50px;
  }

  .select {
    background-color: white;
    .tab-shop {
      width: 100%;
      height: 39px;
      overflow: hidden;
      .shop {
        position: relative;
        float: left;
        width: 50%;
        text-align: center;
        line-height: 39px;
        color: $main-text;
        &:after {
          position: absolute;
          top: 44%;
          left: 70%;
          content: '';
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 6px solid $main-text;
        }
        &.active {
          color: $secondary-text;
          &:after {
            border-top: 6px solid $secondary-text;
          }
        }
      }
    }

    .select-list {
      width: 87.5%;
      margin: 0 auto;
      padding: 20px 0;
      border-top: 1px solid $border;
      overflow: hidden;
      .item {
        float: left;
        width: 33%;
        padding-top: 25px;
        &:first-child {
          .item-img {
            &:after {
              background-color: rgba(0,0,0,0);
            }
          }
          .name {
            color: $green;
          }
        }
        .item-img {
          position: relative;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;
          overflow: hidden;
          &:after {
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0,0,0,.5);
            width: 100%;
            height: 100%;
            content: '';
          }
          img{
            widht: 100%;
            height: 100%;
          }
        }
        .name {
          margin-top: 12px;
          color: $secondary-text;
          text-align: center;
        }
      }
    }
  }

  .shop-detail {
    width: 100%;
    margin-top: 10px;
    padding: 20px 4.2% 11px;
    background-color: white;
    overflow: hidden;
    .title {
      margin-bottom: 20px;
      color: $main-text;
      overflow: hidden;
      .point {
        float: right;
        width: 16px;
        height: 3px;
        margin-top: 9px;
        content: url("../assets/imgs/point.png");
      }
    }
    .detail-item {
      position: relative;
      float: left;
      width: 47.6%;
      margin-right: 4.2%;
      &:last-child {
        margin-right: 0;
      }
      .detail-img {
        position: relative;
        width: 100%;
        height: 105px;
        margin-bottom: 10px;
        overflow: hidden;
        .mask {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 30px;
          text-align: center;
          line-height: 30px;
          color: white;
          background-color: rgba(0,0,0,.3);
        }
        img {
          max-width: 100%;
        }
      }
      .info {
        color: $secondary-text;
        text-align: center;
      }
    }
    .problem {
      font-family:PingFangSC-Thin;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .cloud-page {
    .clude {
      width: 91.6%;
      margin: 15px auto 0;
      padding: 25px 6%;
      background-color: white;
      color: $main-text;
      border-radius: 10px;
      overflow: hidden;
      img {
        float: left;
        width: 30px;
        height: 27px;
        margin-right: 4.5%;
      }
      .title {
        float: left;
        line-height: 27px;
      }
    }
  }

  .sort-page {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    .sort-content {
      position: absolute;
      right: 0;
      top: 0;
      width: 85%;
      height: 100%;
      padding-left: 4.9%;
      background-color: white;
      .sort-title {
        margin-top: 26px;
        margin-bottom: 15px;
        font-size: 16px;
        color: $main-text;
      }
      .sort-list {
        overflow: hidden;
        .sort-item {
          float: left;
          width: 29.8%;
          line-height: 28px;
          margin-right: 3.5%;
          text-align: center;
          border: 1px solid $box-border;
          border-radius: 3px;
          &.active {
            color: $green;
            background-color: rgba(5,209,175,.1);
            border: 1px solid $green;
          }
        }
      }
      .sort-btn {
        position: absolute;
        width: 107%;
        left: 0;
        bottom: 100px;
        padding-left: 8%;
        overflow: hidden;
      }
    }
  }

  .problem-list {
    overflow: hidden;
      .problem-item {
        float: left;
        width: 44.4%;
        height: 160px;
        margin-left: 3.8%;
        margin-top: 14px;
        background-color: white;
        @for $i from 1 to 7{
          .icon-problem-#{$i} {
            width: 71px;
            height: 71px;
            margin: 16px auto;
            content: url("../assets/imgs/problem/problem_#{$i}.png");
          }
          .num {
            line-height: 20px;
            text-align: center;
            color: $main-text;
            em {
              font-size: 24px;
            }
          }
          .describe {
            text-align: center;
            color: $secondary-text;
          }
      }
    }
  }

  .status-page {
    padding-top: 35px;
    @for $i from 1 to 3 {
      .status-item-#{$i} {
        width: 83%;
        height: 100px;
        padding: 22px 5% 24px 12%;
        margin-left: auto;
        margin-right: auto;
        background-image: url("../assets/imgs/status/bg_warm_#{$i}.png");
        background-size: cover;
      }
    }
    .icon-warn {
      float: left;
      width: 55px;
      height: 58px;
      background-image: url("../assets/imgs/status/icon_warn.png");
      background-size: cover;
    }
    .icon-normal {
      float: left;
      width:62px;
      height:58px;
      background-image: url("../assets/imgs/status/icon_normal.png");
      background-size: cover;
    }
    .word {
      float: left;
      margin-left: 10%;
      line-height: 58px;
    }
    @for $i from 1 to 3 {
      .icon-selected-#{$i} {
        float: right;
        width: 20px;
        height: 20px;
        margin-top: 18px;
        background-image: url("../assets/imgs/status/icon_selected_#{$i}.png");
        background-size: cover;
      }
    }
  }

  .wait-img {
    width: 92%;
    height: 205px;
    margin: 15px auto;
    img {
      max-width: 100%;
    }
  }

  .problem-detail {
    width: 100%;
    padding: 20px 15px 22px 15px;
    background-color: white;
    & + .problem-detail {
      margin-top: 15px;
    }
    .head {
      position: relative;
      height: 70px;
      overflow: hidden;
      .avatar-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        height: 70px;
      }
      .avatar-body {
        margin-left: 85px;
        overflow: hidden;
        .name {
          position: relative;
          font-size: 18px;
          color: #333;
          .time {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 12px;
            vertical-align: bottom;
            color: $secondary-text;
          }
        }
        .detail {
          margin-top: 6px;
          color: $secondary-text;
        }
        .firm {
          margin-top: 8px;
          font-size: 12px;
          color: #999;
        }
      }
    }
    .problem-img {
      width: 97%;
      height: 200px;
      margin: 25px auto 0 auto;
      overflow: hidden;
      img {
        max-width: 100%;
      }
    }
    .word {
      font-size: 16px;
      margin-top: 22px;
    }
  }

  .tab-rate {
    background-color: $blue;
    overflow: hidden;
    .item-rate{
      float: left;
      width: 33.3%;
      line-height: 40px;
      text-align: center;
      color: $secondary-text;
      &.active {
        position: relative;
        color: $green;
        &:after {
          content: '';
          position: absolute;
          left: 20%;
          bottom: 0;
          width: 58%;
          height: 2px;
          background-color: $green;
        }
      }
    }
  }

}
