<ion-header>
  <ion-navbar>
    <ion-title>
      统计
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="tabs">
    <ul class="tabs-list tabs-two">
      <li class="tab-btn tab-icon-none active">
        <em class="text">我的店面</em>
      </li>
      <li class="tab-btn tab-icon-both up">
        <em class="text">全部店面</em>
      </li>
    </ul>
    <div class="tabs-content">

    </div>
  </div>
  <div class="tabs">
    <ul class="tabs-list tabs-two">
      <li class="tab-btn">
        <em class="text">我的店面</em>
      </li>
      <li class="tab-btn active">
        <em class="text">全部店面</em>
      </li>
    </ul>
    <div class="tabs-content">

    </div>
  </div>
  <div class="tabs">
    <ul class="tabs-list tabs-third">
      <li class="tab-btn tab-icon-none">
        <em class="text">我的店面</em>
      </li>
      <li class="tab-btn tab-icon-both down">
        <em class="text">全部店面</em>
      </li>
      <li class="tab-btn tab-icon-both down">
        <em class="text">全部店面</em>
      </li>
    </ul>
    <div class="tabs-content">
      <ul class="select-list">
        <li class="item">
          <div class="item-img">
            <img src="assets/imgs/select/select-all.png" alt="">
          </div>
          <p class="name">全部</p>
        </li>
        <li class="item" *ngFor="let item of [1,2,3,4,5]">
          <div class="item-img">
            <img src="assets/imgs/change-before.png" alt="">
          </div>
          <p class="name">李明明</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="tabs">
    <ul class="tabs-list tabs-third tabs-sort">
      <li class="tab-btn tab-icon-both">
        <em class="text">排序</em>
      </li>
      <li class="tab-btn">
        <em class="text">管辖范围</em>
      </li>
      <li class="tab-btn">
        <em class="text">时间</em>
      </li>
      <li class="tab-sort">
        <em class="text">店铺</em>
      </li>
    </ul>
    <div class="tabs-content">

    </div>
  </div>

  <div class="tabs">
    <ul class="tabs-list tabs-four">
      <li class="tab-btn tab-icon-both up">
        <em class="text">排序</em>
      </li>
      <li class="tab-btn">
        <em class="text">厂商</em>
      </li>
      <li class="tab-btn">
        <em class="text">时间</em>
      </li>
      <li class="tab-btn">
        <em class="text">问题</em>
      </li>
    </ul>
    <div class="tabs-content">

    </div>
  </div>
  <div class="tabs">
    <ul class="tabs-rate tabs-third">
      <li class="tab-btn active">
        <em class="text">详情</em>
      </li>
      <li class="tab-btn">
        <em class="text">流程</em>
      </li>
      <li class="tab-btn">
        <em class="text">记录</em>
      </li>
    </ul>
    <ul class="tabs-rate tabs-four">
      <li class="tab-btn active">
        <em class="text">详情</em>
      </li>
      <li class="tab-btn">
        <em class="text">流程</em>
      </li>
      <li class="tab-btn">
        <em class="text">记录</em>
      </li>
      <li class="tab-btn">
        <em class="text">报价</em>
      </li>
    </ul>
  </div>

  <div class="shop-detail">
    <p class="title">回龙观店</p>
    <div class="detail-item">
      <div class="detail-img">
        <img src="assets/imgs/change-before.png" alt="">
      </div>
      <p class="info">改造前</p>
    </div>
    <div class="detail-item">
      <div class="detail-img">
        <img src="assets/imgs/change-after.png" alt="">
      </div>
      <p class="info">改造后</p>
    </div>
  </div>
  <div class="shop-detail">
    <p class="title">天通苑店</p>
    <div class="detail-item">
      <div class="detail-img">
        <img src="assets/imgs/change-before.png" alt="">
      </div>
      <p class="info">改造前</p>
    </div>
    <div class="detail-item">
      <div class="detail-img">
        <img src="assets/imgs/change-after.png" alt="">
      </div>
      <p class="info">改造后</p>
    </div>
  </div>
  <div class="shop-detail">
    <p class="title">
      回龙观店
      <em class="point"></em>
    </p>
    <div class="clearfix">
      <div class="detail-item">
        <div class="detail-img">
          <p class="mask">维修后</p>
          <img src="assets/imgs/change-before.png" alt="">
        </div>
      </div>
      <div class="detail-item">
        <div class="detail-img">
          <p class="mask">维修前</p>
          <img src="assets/imgs/change-after.png" alt="">
        </div>
      </div>
    </div>
    <div class="problem">
      整体风格有点突兀，对不合适的地方的设计风格进行整改，已经整改完毕。
    </div>
  </div>

  <div class="br"></div>

  <div class="stage-page">
    <div class="stage">
      <img class="user-img" src="assets/imgs/user/time.png" alt="">
      <p class="user-title">维修总计工时</p>
    </div>
    <div class="stage">
      <img class="user-img" src="assets/imgs/user/cost.png" alt="">
      <p class="user-title">维修总计成本</p>
    </div>
    <div class="stage">
      <img class="user-img" src="assets/imgs/user/password.png" alt="">
      <p class="user-title">修改密码</p>
    </div>
  </div>

  <div class="br"></div>

  <div class="stage-page shop-list">
    <div class="stage">
      <img src="assets/imgs/change-before.png" alt="">
      <p class="title">钟楼百货星巴克</p>
    </div>
    <div class="stage">
      <img src="assets/imgs/change-before.png" alt="">
      <p class="title">钟楼百货星巴克</p>
    </div>
    <div class="stage">
      <img src="assets/imgs/change-before.png" alt="">
      <p class="title">钟楼百货星巴克</p>
    </div>
    <div class="stage">
      <img src="assets/imgs/change-before.png" alt="">
      <p class="title">钟楼百货星巴克</p>
    </div>
  </div>

  <div class="br"></div>

  <div class="time-form">
    <div class="time-input">
      <input type="text" placeholder="开始时间">
      <div class="br"></div>
      <input type="text" placeholder="结束时间">
    </div>
    <div class="time-list">
      <div class="item active">45周</div>
      <div class="item">46周</div>
      <div class="item">46周</div>
      <div class="item">本周</div>
    </div>
    <div class="time-list">
      <div class="item active">9月</div>
      <div class="item">10月</div>
      <div class="item">11月</div>
      <div class="item">本月</div>
    </div>
    <div class="time-list">
      <div class="item active">2014年</div>
      <div class="item">2015年</div>
      <div class="item">2016年</div>
      <div class="item">本年</div>
    </div>
    <div class="sort-btn">
      <button class="btn-cancle">取消</button>
      <button type="submit" class="btn-sure">确定</button>
    </div>
  </div>


  <div class="sort-page hide">
    <div class="sort-content">
      <p class="sort-title">维修类别</p>
      <ul class="sort-list">
        <li class="sort-item active">设备维修</li>
        <li class="sort-item">设备维修</li>
        <li class="sort-item">设备维修</li>
      </ul>
      <p class="sort-title">维修项目</p>
      <ul class="sort-list">
        <li class="sort-item active">漏水设备</li>
        <li class="sort-item">设备维修</li>
        <li class="sort-item">设备维修</li>
      </ul>
      <div class="sort-btn">
        <button class="btn-cancle">取消</button>
        <button type="submit" class="btn-sure">确定</button>
      </div>
    </div>
  </div>

  <div class="br"></div>






  <div class="br"></div>

  <ul class="stage-page">
    <li class="stage">灯具</li>
    <li class="stage">灯具</li>
    <li class="stage">灯具</li>
    <li class="stage">灯具</li>
  </ul>
  <ul class="stage-page">
    <li class="stage">
      <em class="icon-stage-1"></em>
      <em class="f-left">电气工程</em>
    </li>
    <li class="stage">
      <em class="icon-stage-2"></em>
      <em class="f-left">上下水工程</em>
    </li>
    <li class="stage">
      <em class="icon-stage-3"></em>
      <em class="f-left">墙面装饰工程</em>
    </li>
    <li class="stage">
      <em class="icon-stage-4"></em>
      <em class="f-left">地面铺贴工程</em>
    </li>
    <li class="stage">
      <em class="icon-stage-5"></em>
      <em class="f-left">门窗工程</em>
    </li>
    <li class="stage">
      <em class="icon-stage-6"></em>
      <em class="f-left">天花工程</em>
    </li>
  </ul>

  <div class="br"></div>

  <ul class="status-page">
    <li class="status-item-1">
      <p class="icon-warn"></p>
      <p class="word">紧急</p>
      <p class="icon-radio-selected"></p>
    </li>
    <li class="status-item-2 m-t-l">
      <p class="icon-normal"></p>
      <p class="word">普通</p>
      <p class="icon-radio-unselected"></p>
    </li>
  </ul>

  <div class="br"></div>


  <div class="filter-collapse">
    <div class="filter-list">
      <div class="category-item rank active">排序</div>
      <div class="category-item time">管辖范围</div>
      <div class="category-item time">时间</div>
      <div class="category-item time">问题</div>
    </div>
    <ul class="select-list hide">
      <li class="select-item">全部</li>
      <li class="select-item">厂商名字a-z</li>
      <li class="select-item active">厂商名字z-a</li>
      <li class="select-item">问题由多到少</li>
      <li class="select-item">问题由少到多</li>
    </ul>
  </div>

  <div class="br"></div>
  <div class="br"></div>

  <div class="wait-img">
    <img src="assets/imgs/wait_img.png" alt="">
  </div>

  <div class="br"></div>
  <div class="br"></div>

  <div class="problem-detail">
    <div class="head">
      <img src="assets/imgs/avater/avater_card.png" class="avatar-img" alt="">
      <div class="avatar-body">
        <div class="name">
          <em class="text">张小明</em>
          <em class="time">2018-1-27</em>
        </div>
        <div class="detail">
          灯具／灯不亮了
        </div>
        <div class="firm">
          维修厂商：北京苏南方圆建设有限公司
        </div>
      </div>
    </div>
    <div class="problem-img">
      <img src="assets/imgs/wait_img.png" alt="">
    </div>
    <div class="word">
      钟楼百货星巴克咖啡厅一楼吧台区的顶部吊灯 有损坏，总是一闪一闪的。
    </div>
  </div>
  <div class="problem-detail">
    <div class="head">
      <img src="assets/imgs/avater/avater_card.png" class="avatar-img" alt="">
      <div class="avatar-body">
        <div class="name">
          <em class="text">张小明</em>
          <em class="time">2018-1-27</em>
        </div>
        <div class="detail">
          灯具／灯不亮了
        </div>
        <div class="firm">
          维修厂商：北京苏南方圆建设有限公司
        </div>
      </div>
    </div>
    <div class="problem-img">
      <img src="assets/imgs/wait_img.png" alt="">
    </div>
    <div class="word">
      钟楼百货星巴克咖啡厅一楼吧台区的顶部吊灯 有损坏，总是一闪一闪的。
    </div>
  </div>


  <div class="br"></div>

  <div class="tabs">
    <ul class="tabs-rate tabs-third">
      <li class="tab-btn active">
        <em class="text">待接单(8)</em>
      </li>
      <li class="tab-btn">
        <em class="text">进行中(3)</em>
      </li>
      <li class="tab-btn">
        <em class="text">已完成</em>
      </li>
    </ul>
    <ul class="tabs-rate tabs-four">
      <li class="tab-btn active">
        <em class="text">待接单(8)</em>
      </li>
      <li class="tab-btn">
        <em class="text">进行中(3)</em>
      </li>
      <li class="tab-btn">
        <em class="text">已完成</em>
      </li>
      <li class="tab-btn">
        <em class="text">已完成</em>
      </li>
    </ul>
  </div>

  <div class="br"></div>

  <div class="stage-page">
    <div class="stage p-t-b-xl">
      <span class="radio-icon-green"></span>全部
    </div>
    <div class="stage p-t-b-xl">
      <span class="radio-icon-yellow"></span>未提交
    </div>
    <div class="stage p-t-b-xl">
      <span class="radio-icon-pink"></span>超时未完成
    </div>
    <div class="stage p-t-b-xl">
      <span class="radio-icon-blue"></span>已修复
    </div>
    <div class="stage p-t-b-xl">
      <span class="radio-icon-purple"></span>已提交
    </div>
    <div class="stage p-t-b-xl">
      <span class="radio-icon-gray"></span>已删除
    </div>
  </div>

  <div class="br"></div>

  <div class="stage-page">
    <div class="stage">
      <span class="icon-radio-selected f-left"></span>
      <span class="icon-file"></span>
      <span class="file-name">文件1</span>
    </div>
    <div class="stage">
      <span class="icon-radio-unselected f-left"></span>
      <span class="icon-file"></span>
      <span class="file-name">文件2</span>
    </div>
  </div>


  <div class="br"></div>

  <ul class="import-img">
    <li class="item-img" *ngFor="let item of import">
      <img src="assets/imgs/import/{{ item.url }}.png" alt="">
      <i class="icon-radio-selected"></i>
    </li>
  </ul>

  <div class="br"></div>

  <ul class="media-ibox p-t-b-xxl">
    <li class="quote">
      <em class="icon-total-time"></em>
      <span>总工时</span>
      <br />
      <span class="count">2</span>小时
    </li>
    <li class="quote">
      <em class="icon-total-money"></em>
      <span>耗材总成本</span>
      <br />
      <span class="count">2800</span>元
    </li>
  </ul>

  <div class="media-ibox p-t-b-xl m-t-s">
    <div class="sub-orders">
      <h3 class="title">子订单1</h3>
      <h4 class="sub-title">类型</h4>
      <ul class="type-detail">
        <li>
          <em>五金</em>
          <em>电器</em>
          <span>电线</span>
        </li>
        <li>
          <em>五金</em>
          <em>电器</em>
          <span>插座</span>
        </li>
      </ul>
      <h4 class="sub-title">工时</h4>
      <p class="work-hours">
        <em class="icon-clock"></em>
        <span>3小时</span>
      </p>
      <h4 class="sub-title">耗材</h4>
      <ul>
        <li class="stuff">
          <img src="assets/imgs/change-before.png" alt="">
          <p class="intro">厨房吊灯欧普照明</p>
          <p class="value">
            <span class="price">￥780</span>
            <br />
            <span class="count">×2</span>
          </p>
        </li>
        <li class="stuff">
          <img src="assets/imgs/change-before.png" alt="">
          <p class="intro">厨房吊灯欧普照明</p>
          <p class="value">
            <span class="price">￥780</span>
            <br />
            <span class="count">×2</span>
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="br"></div>

  <div class="store-info">
    <img src="assets/imgs/avater/avater_card.png" class="shop-logo">
    <p class="shop-name">回忆酒吧</p>
  </div>
  <div class="media-ibox media-phone">
    <div class="f-left">
      <p class="phone-number">18921450102</p>
      <p class="store-manager">
        <span>店面经理</span>
        <span>李家乐</span>
      </p>
    </div>
    <div class="icon-phone"></div>
  </div>
  <div class="media-ibox media-phone">
    <div class="f-left">
      <p class="phone-number">010-5788098</p>
      <p class="store-manager">
        <span>店面电话</span>
      </p>
    </div>
    <div class="icon-phone"></div>
  </div>

  <div class="br"></div>

  <div class="ibox">
    <div class="category">
      <ul class="item-list">
        <li class="item border-none">
          <div class="item-img">
            <img src="assets/imgs/icon/icon_order.png" alt="">
          </div>
          <p class="title">新单</p>
        </li>
        <li class="item border-none">
          <div class="item-img">
            <img src="assets/imgs/icon/icon_success.png" alt="">
          </div>
          <p class="title">已完成</p>
        </li>
        <li class="item border-none">
          <div class="item-img">
            <img src="assets/imgs/icon/icon_message.png" alt="">
          </div>
          <p class="title">群消息</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="br"></div>

  <div class="stage-page">
    <div class="stage p-t-b-xl">
      <p class="icon-news-warm">
        <span class="news-count">11</span>
      </p>
      <div class="stage-news">
        <div class="news-name">
          <span>低温报警</span>
          <span class="time">2017.12.23</span>
        </div>
        <div class="news-detail">798星巴克区天花板低温报警</div>
      </div>
    </div>
    <div class="stage p-t-b-xl">
      <p class="icon-news-3d">
        <span class="news-count">6</span>
      </p>
      <div class="stage-news">
        <div class="news-name">
          <span>3D全景</span>
          <span class="time">2017.12.23</span>
        </div>
        <div class="news-detail">翠微百货星巴克更新3D全景了</div>
      </div>
    </div>
    <div class="stage p-t-b-xl">
      <p class="icon-news-icloud"></p>
      <div class="stage-news">
        <div class="news-name">
          <span>云盘</span>
          <span class="time">2017.12.23</span>
        </div>
        <div class="news-detail">丰台万达星巴克云盘有更新</div>
      </div>
    </div>
  </div>

  <div class="br"></div>

  <div class="media-ibox p-t-b-l border-b-gray">
    <div class="media-img">
      <img src="assets/imgs/avater/avater_card.png" alt="">
      <span class="news-count">11</span>
    </div>
    <div class="media-body">
      <p class="title">北京钟楼百货星巴克</p>
      <p class="address">A区8栋1层吧台区</p>
    </div>
    <div class="media-footer">
      <em class="icon-light f-left"></em>
      <em class="media-name f-left">苏南方圆</em>
      <em class="media-time">2016-11-30 15:42:16</em>
    </div>
  </div>
  <div class="media-ibox p-t-b-l">
    <div class="media-img">
      <img src="assets/imgs/avater/avater_card.png" alt="">
      <span class="news-count">11</span>
    </div>
    <div class="media-body">
      <p class="title">北京钟楼百货星巴克</p>
      <p class="address">A区8栋1层吧台区</p>
    </div>
    <div class="media-footer">
      <em class="icon-light f-left"></em>
      <em class="media-name f-left">苏南方圆</em>
      <em class="media-time">2016-11-30 15:42:16</em>
    </div>
  </div>

  <div class="br"></div>
  <div class="br"></div>

  <div class="worker-info">
    <img src="assets/imgs/avater/avater_card.png" alt="" class="worker-img">
    <div class="worker-body">
      <p class="name">刘金明</p>
      <p class="phone">
        <span class="f-left">12345678910</span>
        <em class="icon-phone-s"></em>
      </p>
      <p class="worker-id">
        <em>员工号：</em>
        <span>0011</span>
        <span class="store-name">北京苏南方圆</span>
      </p>
    </div>
  </div>


  <div class="br"></div>

  <div class="worker-rate">
    <div class="icon-star"></div>
    <ul class="rate">
      <li class="rate-item active">技术好</li>
      <li class="rate-item">维修速度快</li>
      <li class="rate-item">沟通流畅</li>
    </ul>
  </div>
  <div class="worker-data">
    <div class="data">
      <p class="title">
        <span>已维修</span>
        <span class="num">15</span>
        <span class="gray">单</span>
      </p>
      <ul class="data-item">
        <li class="count">
          <span>24</span>
          <span class="detail">总时长</span>
          <em class="bg-green"></em>
        </li>
        <li class="count">
          <span>15</span>
          <span class="detail">总单数</span>
          <em class="bg-yellow"></em>
        </li>
        <li class="count">
          <span>3</span>
          <span class="detail">为我维修</span>
          <em class="bg-blue"></em>
        </li>
      </ul>
    </div>
    <div class="icon-house-l"></div>
  </div>
</ion-content>
