page-login {
  .login-page {
    width: 100%;
    height: 100%;
    background-image: url("../assets/imgs/login-bg.png");
    background-size: cover;
    .scroll-content {
      padding-bottom: 0 !important;
    }
    .item-md,
    .item-ios {
      background-color: transparent !important;
    }
    .toolbar-background-ios,
    .toolbar-background-md {
      background-color: transparent !important;
    }
    .toolbar {
      margin-top: 30%;
      margin-bottom: 18%;
      text-align: center;
      .toolbar-title {
        font-weight: normal;
        font-size: 3rem !important;
        color: #fff !important;
      }
    }
    ion-select{
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .text-input-md,
    .text-input-ios,
    ion-label,
    .select-text
     {
      margin: 0;
      color: #fff;
    }
    .item-md,
    .item-ios {
      padding-left: 0;
    }
    ion-item {
      min-height: 2.84rem;
      width: 25rem;
      margin: 0 auto 2.5rem;
      .item-inner {
        border-bottom: 1px solid #fff !important;
      }
    }
    .login {
      margin: 0 auto;
      width: 25.84rem;
      height: 3.67rem;
      text-align: center;
      .btn-login {
        background-color: #05D1AF;
      }
    }
    ::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #fff;
    }
    ::-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #fff;
    }
    ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #fff;
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #fff;
    }
  }
}
