<div class="offer-list">
  <ul class="offer-count">
    <li class="item">
      <i class="icon-total-time"></i>
      <div>
        <p class="text">总工时</p>
        <p>
          <em class="number">{{ data.totalHours ? data.totalHours : 0 }}</em>
          <em class="text">小时</em>
        </p>
      </div>
    </li>
    <li class="item">
      <i class="icon-total-money"></i>
      <div>
        <p class="text">耗材总成本</p>
        <p>
          <em class="number">2800</em>
          <em class="text">元</em>
        </p>
      </div>
    </li>
  </ul>
  <ul>
    <div *ngFor="let order of data.orderItemList;index as i">
      <li class="offer-order" *ngIf="order.maintenanceHours && order.finishDes">
        <h3 class="title">子订单{{ i + 1 }}</h3>
        <div *ngIf="order.storeRepairOrderItemTypes && order.storeRepairOrderItemTypes.length">
          <div class="tag">类型</div>
          <ul class="type-list">
            <li class="type-item-x" *ngFor="let type of order.storeRepairOrderItemTypes">
              <em class="text">地板 &gt; 铺地板</em>
            </li>
          </ul>
        </div>
        <div class="tag">工时</div>
        <div class="hours">
          <i class="icon-clock"></i>
          <em class="text">{{ order.maintenanceHours ? order.maintenanceHours : 0 }}小时</em>
        </div>
        <div class="tag">耗材</div>
        <ul class="stuff-list">
          <li class="item">
            <div class="item-img">
              <img src="assets/imgs/change-before.png" alt="">
            </div>
            <div class="item-body">
              <p class="item-describe">厨房吊灯欧普照明</p>
              <em class="item-price">￥ 780</em>
              <em class="item-number">x2</em>
            </div>
          </li>
        </ul>
      </li>
    </div>
  </ul>
</div>