<div class="point" [ngClass]="{ 'point-checkbox' : isassign }">
  <!-- 维修主管 -->
  <div class="point-content-checkox" *ngIf="roletype === 3">
    <label class="item-choice checkbox">
      <input value="2" type="checkbox" [(ngModel)]="listdata.isChecked" (change)="HandleIsChecked()">
      <ins class="checkbox-icon"></ins>
    </label>
  </div>
  <div class="point-content-body">
    <div class="ponit-content-img">
      <img alt="" src="assets/imgs/change-after.png">
      <img alt="" src="assets/imgs/change-after.png">
      <img alt="" src="assets/imgs/change-after.png">
      <img alt="" src="assets/imgs/change-after.png">
      <img alt="" src="assets/imgs/change-after.png">
      <em class="icon-point"></em>
    </div>
    <div class="point-info">
      <div class="ponit-content-info">
        <p class="text title">刘梦想 15520981232：</p>
        <p class="text">A区8栋一层吧台区 {{ listdata.faultDes }}</p>
      </div>
    </div>
    <div class="point-retract" *ngIf="roletype === 3">
      <div class="btn-retract success" (click)="assignMaterial(listdata)">材料采购</div>
      <div class="btn-retract" *ngIf="!isassign" (click)="HandleReturnQuestion()">退回</div>
      <div class="btn-retract" *ngIf="isassign">转给</div>
    </div>
    <div class="point-retract" *ngIf="repairstatus > 5">
      <div class="btn-retract success" *ngIf="repairstatus < 8" (click)="HandleCompleteOrder()">完成</div>
      <div class="btn-retract success" *ngIf="repairstatus < 8" (click)="AddExplain()">添加说明</div>
      <div class="btn-retract success" *ngIf="!(repairstatus < 8)" (click)="FillInReport()">填写报告</div>
    </div>
  </div>
</div>
