page-repair-point-list {
    .ibox-search {
        padding: 10px 15px;
        margin: 0;
        height: 50px;
        background-color: #f6f6f6;

        ion-input {
            background-color: #fff;
        }

        .text-input {
            margin: 0;
            padding: 0 20px;
            width: 100%;
            height: 30px;
        }

        ion-icon {
            top: 17px;
        }
    }

    .row-list {
        .row-ibox {
            border-bottom: 1px solid $border;
        }

        .row-list {
            margin-left: 20px;
        }
    }
}
