page-repair-point-list {
    ion-header.header {
        ion-navbar {
            .ion-ios-map,
            .ion-md-map {
                width: 20px;
                height: 20px;
                margin-right: 10px;
                background-image: url('#{$image-icon}/icon-map.png');
                background-size: 100%;
                &::before {
                    display: none;
                }
            }
            .ion-ios-search,
            .ion-md-search {
                width: 17px;
                height: 18px;
                margin-right: 15px;
                background-image: url('#{$image-icon}/icon-search-lg.png');
                background-size: 100%;
                &::before {
                    display: none;
                }
            }
        }
    }
    .row-list {
        .row-ibox {
            border-bottom: 1px solid $border;
        }
        .row-list {
            margin-left: 20px;
        }
    }
    .float-box {
        position: relative;
        min-height: 50px;
        background-color: $white;
        padding: 0 135px 0 15px;
    }
    .float-choice,
    .float-sum {
        padding-top: 15px;
        float: left;
        line-height: 20px;
    }
    .float-choice {
        .checkbox-icon {
            margin-top: 2px;
        }
    }
    .float-sum {
        margin-left: 15px;
        font-size: 16px;
    }
    .float-btn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 18px;
        width: 135px;
        padding: 16px 0;
        background-color: $green;
        color: $white;
    }
}