.ion-tab-icon-base {
  width: 23px;
  height: 23px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.ion-tab-icon-md-base {
  min-width: 0 !important;
  height: 23px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.tabs-md .tabbar,
.tabs-ios .tabbar {
  background-color: #fff;
}

.tabs-ios .tabbar {
  border-top: 1px solid #ddd;
}

$tabImageName: 'tab1' 'tab2' 'tab3' 'tab4';
@for $i from 1 to 5 {
  //for ios  
  .tabs-ios {
    .tab-button {
      .ion-ios-tab-#{nth($tabImageName, $i)} {
        @extend .ion-tab-icon-base;
        content: url("../assets/imgs/tabs/#{nth($tabImageName, $i)}_choosed.png");
      }
      .ion-ios-tab-#{nth($tabImageName, $i)}-outline {
        @extend .ion-tab-icon-base;
        content: url("../assets/imgs/tabs/#{nth($tabImageName, $i)}.png");
      }
    }
  } // for android  
  .tabs-md {
    .tab-button[aria-selected=true] {
      .ion-md-tab-#{nth($tabImageName, $i)} {
        @extend .ion-tab-icon-md-base;
        content: url("../assets/imgs/tabs/#{nth($tabImageName, $i)}_choosed.png");
      }
      .tab-button-text {
        @extend .transform-none;
      }
    }
    .tab-button[aria-selected=false] {
      .ion-md-tab-#{nth($tabImageName, $i)} {
        @extend .ion-tab-icon-md-base;
        content: url("../assets/imgs/tabs/#{nth($tabImageName, $i)}.png");
      }
    }
  }
}

.footer-md::before,
.tabs-md[tabsPlacement="bottom"]>.tabbar::before {
  height: 1px;
  top: -1px;
  background-image: none;
  background-color: #ddd;
}

.tabs-ios .tab-button-icon {
  min-width: 23px;
<<<<<<< HEAD
=======
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform-origin: 50% 150%;
  transform-origin: 50% 150%;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
>>>>>>> 7133b1c79116f29b565899c7ca36f15900bd8899
}

.tabs-md .tab-button {
  &[aria-selected=true] {
    color: #05d1af;
  }
  min-height: 4.6rem;
}

.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=true] {
  color: #05d1af;
}

.tabs-ios .tab-button .tab-button-text {
  font-size: 12px;
  margin: 0 0 3px 0;
}

.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
  font-size: 12px;
  margin: 0 0 3px 0;
}
