page-category-detail {
  ion-header.header {
    ion-navbar {
      .ion-ios-add,
      .ion-md-add {
        min-width: 20px;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-image: url('#{$image-icon}/icon-add.png');
        background-size: 100%;
        &::before {
          display: none;
        }
      }
    }

  }
  .row-ibox {
     margin-bottom: 10px;
    .header {
      font-size: 16px;
      padding: 15px;
    }
   }
  .row-list+.row-list {
    margin-top: 10px;
  }
  .hot-word {
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
    .header {
      font-size: 16px;
    }
    .hot-list {
      overflow: hidden;
      .hot-item {
        float: left;
        margin-right: 10px;
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 13px;
        color:$secondary-text;
        border: 1px solid $box-border;
      }
    }
  }
  .letter {
    position: fixed;
    right: 0;
    top: 50%;
    @include transform(translateY(-50%));
    margin-top: 20px;
    z-index: 10001;
    .letter-right {
      font-size: 13px;
      display: flex;
      flex-direction: column;
      flex-flow: 1;
      color: #555;
      align-items: center;
      line-height: 1;
      span {
        display: block;
        padding: 3px;
      }
    }
  }
}
