page-page-tmpl {
  ion-navbar {
    position: relative;
    .arrow-back {
      position: absolute;
      left: 4.4%;
      top: 50%;
      width: 10px;
      height: 19px;
      margin-top: -9px;
      background-image: url("#{$image}/arrow-back.png");
      background-size: contain;
    }
  }
  .br {
    width: 100%;
    height: 50px;
  }
  .cloud-page {
    .clude {
      width: 91.6%;
      margin: 15px auto 0;
      padding: 25px 6%;
      background-color: white;
      color: $main-text;
      border-radius: 10px;
      overflow: hidden;
      img {
        float: left;
        width: 30px;
        height: 27px;
        margin-right: 4.5%;
      }
      .title {
        float: left;
        line-height: 27px;
      }
    }
  }
  .sort-page {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    .sort-content {
      position: absolute;
      right: 0;
      top: 0;
      width: 85%;
      height: 100%;
      padding-left: 4.9%;
      background-color: white;
      .sort-title {
        margin-top: 26px;
        margin-bottom: 15px;
        font-size: 16px;
        color: $main-text;
      }
      .sort-list {
        overflow: hidden;
        .sort-item {
          float: left;
          width: 29.8%;
          line-height: 28px;
          margin-right: 3.5%;
          text-align: center;
          border: 1px solid $box-border;
          border-radius: 3px;
          &.active {
            color: $green;
            background-color: rgba(5, 209, 175, .1);
            border: 1px solid $green;
          }
        }
      }
      .sort-btn {
        position: absolute;
        width: 107%;
        left: 0;
        bottom: 100px;
        padding-left: 8%;
        overflow: hidden;
      }
    }
  }
  .status-page {
    padding-top: 35px;
    @for $i from 1 to 3 {
      .status-item-#{$i} {
        width: 83%;
        height: 100px;
        padding: 22px 5% 24px 12%;
        margin-left: auto;
        margin-right: auto;
        background-image: url("#{$image-status}/bg_warm_#{$i}.png");
        background-size: cover;
      }
    }
    .icon-warn {
      float: left;
      width: 55px;
      height: 58px;
      background-image: url("#{$image-status}/icon_warn.png");
      background-size: cover;
    }
    .icon-normal {
      float: left;
      width: 62px;
      height: 58px;
      background-image: url("#{$image-status}/icon_normal.png");
      background-size: cover;
    }
    .word {
      float: left;
      margin-left: 10%;
      line-height: 58px;
    }
  }
  .wait-img {
    width: 92%;
    height: 205px;
    margin: 15px auto;
    img {
      max-width: 100%;
    }
  }

  .import-img {
    padding-top: 3px;
    overflow: hidden;
    .item-img {
      position: relative;
      float: left;
      width: 32%;
      margin-bottom: 3px;
      margin-left: .8%;
      img {
        width: 100%;
        vertical-align: top;
      }
      [class*='icon-radio-'] {
        position: absolute;
        right: 3px;
        top: 3px;
        margin-top: 0;
      }
    }
  }
  .explain {
    margin-top: 10px;
    padding: 15px 15px 19px;
    background-color: white;
    .explain-head {
      line-height: 25px;
      overflow: hidden;
      .title {
        float: left;
        font-size: 17px;
        color: $gray;
      }
      .time {
        float: right;
        font-size: 10px;
        color: $gray-light;
      }
    }
    .explain-content {
      margin-top: 20px;
      font-size: 15px;
      color: $gray;
    }
    .explain-footer {
      margin-top: 52px;
      overflow: hidden;
      img {
        float: left;
        width: 50px;
        margin-right: 10px;
      }
    }
  } //报价
  .sub-orders {
    color: $gray;
    .title {
      position: relative;
      margin-bottom: 28px;
      margin-top: 0;
      color: $gray;
      font-size: 16px;
      &:before {
        content: '';
        position: absolute;
        left: -15px;
        top: 0;
        width: 3px;
        height: 18px;
        background-color: $green;
      }
    }
    .sub-title {
      margin-bottom: 12px;
      margin-top: 0;
      font-size: 14px;
      color: $gray-light;
    }
    .type-detail {
      margin-bottom: 36px;
      li+li {
        margin-top: 11px;
      }
      em:after {
        content: '>';
        margin-left: 3px;
      }
      span {
        padding: 4px 8px;
        font-size: 12px;
        border-radius: 17px;
        color: #7DE2B8;
        background-color: #edfdf5;
      }
    }
    .work-hours {
      margin-bottom: 32px;
      overflow: hidden;
      span {
        float: left;
      }
    }
    .stuff {
      overflow: hidden;
      &+.stuff {
        margin-top: 15px;
      }
      img {
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
      .intro {
        float: left;
        font-size: 17px;
      }
      .value {
        float: right;
        text-align: right;
        font-size: 12px;
        .price {
          font-weight: bold;
          font-family: PingFang SC;
        }
        .count {
          color: $gray-light;
        }
      }
    }
  }

  .quote {
    float: left;
    width: 50%;
    height: 40px;
    font-size: 11px;
    color: $gray-light;
    .count {
      font-family: Microsoft YaHei;
      font-size: 18px;
      margin-top: 10px;
      color: black;
    }
  }

  .quote-s {
    .icon-total-time {
      width: 25px;
      height: 25px;
    }
    .title {
      color: $gray;
      font-size: 15px;
      line-height: 25px;
    }
  }

  .row-item {
    .row-img {
      float: left;
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }
    .icon-no {
      float: left;
      width: 18px;
      height: 14px;
      margin-right: 20px;
    }
    .item-info {
      float: left;
      font-size: 14px;
      .title {
        em {
          color: $secondary-text;
        }
      }
      .content {
        font-size: 12px;
        color: #ccc;
        margin-top: 10px;
      }
    }
    .item-body {
      float: left;
      margin-left: 10px;
      .title {
        .job {
          display: inline-block;
          padding: 3px 6px;
          background-color: #febe13;
          margin-left: 20px;
          font-size: 12px;
          color: white;
        }
        .time {
          margin-left: 20px;
          font-size: 15px;
          color: $green;
        }
      }
      .content {
        margin-top: 10px;
        font-size: 15px;
        color: $secondary-text;
      }
    }
  }

  .expand {
    padding-top: 15px;
    background-color: white;
    .title-second {
      padding-left: 15px;
      font-size: 14px;
      color: $secondary-text;
    }
    .media-body {
      height: 70px;
      padding: 15px 0 0 52px;
      width: 100%;
      margin-left: 0;
      .media-footer {
        padding: 0;
      }
    }
  }

  .order-child {
    margin-top: 15px;
    padding: 15px;
    background-color: white;
    .title {
      position: relative;
      font-size: 16px;
      &:before {
        content: '';
        position: absolute;
        left: -15px;
        top: 5px;
        width: 3px;
        height: 18px;
        background-color: $green;
      }
    }
    .title-second {
      margin-top: 20px;
      font-size: 14px;
      color: $secondary-text;
    }
  }
}
