ion-calendar-modal {
  .bar-buttons-md[start] {
    order: 1;
  }
  h4.month-title {
    padding: 0 2rem;
    margin-top: 2rem;
    text-align: left;
    color: $main-text;
  }
  .bar-button {
    font-size: 1.6rem;
  }
  .header {
    &::after {
      display: none;
    }
    .toolbar-background {
      border-bottom: 1px solid $border;
    }
  }
  .week-toolbar {
    .week-title {
      height: 48px;
      padding: 12px 0 14px 0;
      font-size: 1.6rem;
      color: $main-text;
      background-color: transparent;
      & li:first-child,
      & li:last-child {
        color: $green;
      }
    }
  }
  .month-box {
    border-bottom-width: 0;
    padding-bottom: 0;
  }
  ion-calendar-month {
    .days-box {
      padding: 2.4rem 0 0 0;
    }
    .primary {
      .days .today {
        border: 1px solid $green;
      }
      button.days-btn small,
      .days .marked p,
      .days .today p {
        color: $green;
        font-weight: 400;
      }
      .days .today.on-selected p {
        font-weight: 400;
      }
      .days .on-selected,
      .startSelection button.days-btn,
      .endSelection button.days-btn {
        background-color: $green;
        font-weight: 500;
      }
      .startSelection:after,
      .days.between,
      .between button.days-btn,
      .endSelection:after {
        background-color: $green-light;
      }
      .between button.days-btn p {
        color: #333;
      }
    }
  }
}
