<ion-header>
  <ion-navbar>
    <ion-title>维修频率</ion-title>
  </ion-navbar>
  <tabs [status]="status" (goto)="tabs($event)" (DateChange)="HandleDateChange($event)"></tabs>
</ion-header>

<ion-content>
  <div class="chart-data" [ngClass]="{ 'hide' : !repairList.length }">
    <div class="chart">
      <div padding-vertical>
        <canvas #chartPie height="200"></canvas>
      </div>
    </div>
    <ul class="data-list">
      <li class="data-item" *ngFor="let item of repairList; let i = index">
        <em class="bar-frequency-{{ i+1 }}"></em>
        <div class="data-body">
          <div class="data-head">
            <span class="title">{{ item.storeName }}</span>
            <span class="percentage">{{ item.percentage }}</span>
            <span class="price">￥{{ item.longestDay }}</span>
            <em class="icon-arrow-right f-right"></em>
          </div>
          <div class="count">维修{{ item.repairNum }}次</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="empty-text" [ngClass]="{ 'hide' : repairList.length }">
    <em class="text">暂无数据</em>
  </div>
  <div class="full-mask" *ngIf="status != 0" (click)="status = 0"></div>
</ion-content>
