<ion-header>
  <ion-navbar>
    <ion-title>维修分类</ion-title>
  </ion-navbar>
  <tabs [status]="status" (goto)="tabs($event)"></tabs>
</ion-header>


<ion-content>
  <div class="chart-data">
    <div class="chart">
      <div padding-vertical>
        <canvas #chartPie height="200"></canvas>
      </div>
    </div>
    <ul class="data-list">
      <li class="data-item" *ngFor="let item of data; let i = index">
        <em class="bar-sort-{{ i+1 }}"></em>
        <div class="data-body">
          <div class="data-head">
            <span class="title">{{ item.title }}</span>
            <span class="percentage">{{ item.percentage }}</span>
            <span class="price">￥{{ item.price }}</span>
            <em class="icon-arrow-right f-right"></em>
          </div>
          <div class="count">维修{{ item.count }}次</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="full-mask" *ngIf="status != 0" (click)="tabs(0)"></div>
</ion-content>
