<ion-header>
  <ion-navbar>
    <ion-title>统计</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="row-ibox">
    <ul class="row-list">
      <li class="row-item" *ngFor="let i of [1,2,3]">
        <div class="item-img radius">
          <div class="img-center">
            <img alt="" src="assets/imgs/change-before.png">
          </div>
        </div>
        <div class="item-body">北京苏南方圆建设有限公司</div>
      </li>
    </ul>
    <ul class="row-list row-lg">
      <li class="row-item" *ngFor="let i of [1,2,3]">
        <div class="item-img img-xs radius">
          <div class="img-center">
            <img alt="" src="assets/imgs/change-before.png">
          </div>
        </div>
        <div class="item-body">
          <p class="job-sort">店面经理</p>
        </div>
      </li>
      <li class="row-item" *ngFor="let i of [1,2,3]">
        <div class="item-img radius">
          <div class="img-center">
            <img alt="" src="assets/imgs/change-before.png">
          </div>
        </div>
        <div class="item-body">
          <p class="name">北京苏南方圆建设有限公司</p>
        </div>
      </li>
    </ul>
    <ul class="row-list row-llg">
      <li class="row-item" *ngFor="let i of [1,2,3]">
        <div class="item-body">灯具</div>
      </li>
    </ul>
    <ul class="row-list row-llg">
      <li class="row-item" *ngFor="let i of [1,2,3,4,5,6]">
        <div class="item-icon">
          <i class="icon-stage-{{ i }}"></i>
        </div>
        <div class="item-body">电气工程</div>
      </li>
    </ul>
    <ul class="row-list">
      <li class="row-item" *ngFor="let i of [1,2,3,4,5,6]">
        <div class="item-icon">
          <i class="icon-stage-{{ i }}"></i>
        </div>
        <div class="item-body">
          <p class="title">电气工程</p>
          <p class="repair-firm">维修厂商：北京苏南方圆建设有限公司</p>
        </div>
      </li>
    </ul>
    <ul class="row-list">
      <label class="row-item">
        <div class="item-choice checkbox">
          <input [(ngModel)]="status" type="checkbox" (change)="change()">
          <ins class="checkbox-icon"></ins>
        </div>
        <div class="item-body">
          <p class="title">灯具/射灯不亮</p>
          <p class="company">北京苏南方圆建设有限公司</p>
          <p class="location">一层平面-吧台区</p>
        </div>
        <div class="item-action">
          <i class="icon-point"></i>
          <ins class="tag tag-error">紧急</ins>
        </div>
      </label>
      <li class="row-item">
        <div class="item-img radius">
          <div class="img-center">
            <img alt="" src="assets/imgs/change-before.png">
          </div>
        </div>
        <div class="item-body">
          <p class="name">刘杰楷</p>
          <p class="telphone">15289760923</p>
        </div>
      </li>
      <li class="row-item">
        <div class="item-img radius">
          <div class="img-center">
            <img alt="" src="assets/imgs/change-before.png">
          </div>
        </div>
        <div class="item-body">
          <p class="title">北京苏南方圆建设有限公司</p>
          <p class="facility">设施维修：灯具、龙头、门窗等</p>
        </div>
      </li>
      <li class="row-item">
        <div class="item-img img-lg radius">
          <div class="img-center">
            <img alt="" src="assets/imgs/change-before.png">
          </div>
        </div>
        <div class="item-body">
          <p class="name">刘杰楷</p>
          <p class="telphone">15289760923</p>
        </div>
      </li>
    </ul>
    <ul class="row-list row-lg">
      <li class="row-item">
        <div class="item-icon">
          <i class="radio-icon-green"></i>
        </div>
        <div class="item-body">全部</div>
      </li>
      <li class="row-item">
        <div class="item-icon">
          <i class="radio-icon-yellow"></i>
        </div>
        <div class="item-body">未提交</div>
      </li>
      <li class="row-item">
        <div class="item-icon">
          <i class="radio-icon-pink"></i>
        </div>
        <div class="item-body">超时未完成</div>
      </li>
      <li class="row-item">
        <div class="item-icon">
          <i class="radio-icon-blue"></i>
        </div>
        <div class="item-body">已修复</div>
      </li>
      <li class="row-item">
        <div class="item-icon">
          <i class="radio-icon-purple"></i>
        </div>
        <div class="item-body">已提交</div>
      </li>
      <li class="row-item">
        <div class="item-icon">
          <i class="radio-icon-gray"></i>
        </div>
        <div class="item-body">已删除</div>
      </li>
    </ul>
    <ul class="row-list">
      <li class="row-item" *ngFor="let i of [1,2,3]">
        <div class="item-img img-llg">
          <div class="img-center">
            <img alt="" src="assets/imgs/change-before.png">
          </div>
        </div>
        <div class="item-body">客区照片1</div>
      </li>
    </ul>
    <ul class="row-list">
      <li class="row-item">
        <div class="item-icon">
          <i class="icon-file"></i>
        </div>
        <div class="item-body">文件</div>
      </li>
    </ul>
    <div class="row-list">
      <label class="row-item">
        <div class="item-choice checkbox">
          <input [(ngModel)]="status" type="checkbox" (change)="change()">
          <ins class="checkbox"></ins>
        </div>
        <div class="item-icon">
          <i class="icon-file"></i>
        </div>
        <div class="item-body">文件</div>
      </label>
    </div>
  </div>

  <div class="br"></div>

  <div class="tabs" style="margin-top:10px;">
    <ul class="tabs-list tabs-two">
      <li class="tab-btn tab-icon-none active">
        <em class="text">我的店面</em>
      </li>
      <li class="tab-btn tab-icon-both up">
        <em class="text">全部店面</em>
      </li>
    </ul>
    <div class="tabs-content">

    </div>
  </div>
  <div class="tabs">
    <ul class="tabs-list tabs-two">
      <li class="tab-btn">
        <em class="text">我的店面</em>
      </li>
      <li class="tab-btn active">
        <em class="text">全部店面</em>
      </li>
    </ul>
    <div class="tabs-content">

    </div>
  </div>
  <div class="tabs">
    <ul class="tabs-list tabs-two">
      <li class="tab-btn tab-icon-none">
        <em class="text">我的店面</em>
      </li>
      <li class="tab-btn tab-icon-both down">
        <em class="text">全部店面</em>
      </li>
    </ul>
    <div class="tabs-content">
    </div>
  </div>
  <div class="tabs">
    <ul class="tabs-list tabs-sort tabs-third">
      <li class="tab-btn tab-icon-both">
        <em class="text">排序</em>
      </li>
      <li class="tab-btn">
        <em class="text">管辖范围</em>
      </li>
      <li class="tab-btn">
        <em class="text">时间</em>
      </li>
      <li class="tab-sort">
        <em class="text">店铺</em>
      </li>
    </ul>
    <div class="tabs-content">

    </div>
  </div>
  <div class="tabs">
    <ul class="tabs-list tabs-four">
      <li class="tab-btn tab-icon-both up">
        <em class="text">排序</em>
      </li>
      <li class="tab-btn">
        <em class="text">厂商</em>
      </li>
      <li class="tab-btn">
        <em class="text">时间</em>
      </li>
      <li class="tab-btn">
        <em class="text">问题</em>
      </li>
    </ul>
    <div class="tabs-content">

    </div>
  </div>
  <div class="tabs">
    <ul class="tabs-rate tabs-third">
      <li class="tab-btn active">
        <em class="text">详情</em>
      </li>
      <li class="tab-btn">
        <em class="text">流程</em>
      </li>
      <li class="tab-btn">
        <em class="text">记录</em>
      </li>
    </ul>
    <ul class="tabs-rate tabs-four">
      <li class="tab-btn active">
        <em class="text">详情</em>
      </li>
      <li class="tab-btn">
        <em class="text">流程</em>
      </li>
      <li class="tab-btn">
        <em class="text">记录</em>
      </li>
      <li class="tab-btn">
        <em class="text">报价</em>
      </li>
    </ul>
  </div>

  <div class="shop-detail">
    <p class="title">回龙观店</p>
    <div class="detail-item">
      <div class="detail-img">
        <img src="assets/imgs/change-before.png" alt="">
      </div>
      <p class="info">改造前</p>
    </div>
    <div class="detail-item">
      <div class="detail-img">
        <img src="assets/imgs/change-after.png" alt="">
      </div>
      <p class="info">改造后</p>
    </div>
  </div>
  <div class="shop-detail">
    <p class="title">天通苑店</p>
    <div class="detail-item">
      <div class="detail-img">
        <img src="assets/imgs/change-before.png" alt="">
      </div>
      <p class="info">改造前</p>
    </div>
    <div class="detail-item">
      <div class="detail-img">
        <img src="assets/imgs/change-after.png" alt="">
      </div>
      <p class="info">改造后</p>
    </div>
  </div>


  <div class="br"></div>

  <ul class="select-list">
    <li class="item">
      <div class="item-img">
        <img src="assets/imgs/select/select-all.png" alt="">
      </div>
      <p class="name">全部</p>
    </li>
    <li class="item" *ngFor="let item of [1,2,3,4,5]">
      <div class="item-img">
        <img src="assets/imgs/change-before.png" alt="">
      </div>
      <p class="name">李明明</p>
    </li>
  </ul>
  <br>

  <div class="time-form">
    <div class="time-input">
      <input type="text" placeholder="开始时间">
      <div class="br"></div>
      <input type="text" placeholder="结束时间">
    </div>
    <div class="time-list">
      <div class="item active">45周</div>
      <div class="item">46周</div>
      <div class="item">46周</div>
      <div class="item">本周</div>
    </div>
    <div class="time-list">
      <div class="item active">9月</div>
      <div class="item">10月</div>
      <div class="item">11月</div>
      <div class="item">本月</div>
    </div>
    <div class="time-list">
      <div class="item active">2014年</div>
      <div class="item">2015年</div>
      <div class="item">2016年</div>
      <div class="item">本年</div>
    </div>
    <div class="sort-btn">
      <button class="btn-cancle">取消</button>
      <button type="submit" class="btn-sure">确定</button>
    </div>
  </div>


  <div class="sort-page hide">
    <div class="sort-content">
      <p class="sort-title">维修类别</p>
      <ul class="sort-list">
        <li class="sort-item active">设备维修</li>
        <li class="sort-item">设备维修</li>
        <li class="sort-item">设备维修</li>
      </ul>
      <p class="sort-title">维修项目</p>
      <ul class="sort-list">
        <li class="sort-item active">漏水设备</li>
        <li class="sort-item">设备维修</li>
        <li class="sort-item">设备维修</li>
      </ul>
      <div class="sort-btn">
        <button class="btn-cancle">取消</button>
        <button type="submit" class="btn-sure">确定</button>
      </div>
    </div>
  </div>

  <div class="br"></div>






  <div class="br"></div>


  <div class="br"></div>

  <ul class="status-page">
    <li class="status-item-1">
      <p class="icon-warn"></p>
      <p class="word">紧急</p>
      <p class="icon-radio-selected"></p>
    </li>
    <li class="status-item-2 m-t-l">
      <p class="icon-normal"></p>
      <p class="word">普通</p>
      <p class="icon-radio-unselected"></p>
    </li>
  </ul>

  <div class="br"></div>

  <div class="wait-img">
    <img src="assets/imgs/wait_img.png" alt="">
  </div>

  <div class="br"></div>
  <div class="br"></div>

  <div class="problem-detail">
    <div class="head">
      <img src="assets/imgs/avater/avater_card.png" class="avatar-img" alt="">
      <div class="avatar-body">
        <div class="name">
          <em class="text">张小明</em>
          <em class="time">2018-1-27</em>
        </div>
        <div class="detail">
          灯具／灯不亮了
        </div>
        <div class="firm">
          维修厂商：北京苏南方圆建设有限公司
        </div>
      </div>
    </div>
    <div class="problem-img">
      <img src="assets/imgs/wait_img.png" alt="">
    </div>
    <div class="word">
      钟楼百货星巴克咖啡厅一楼吧台区的顶部吊灯 有损坏，总是一闪一闪的。
    </div>
  </div>
  <div class="problem-detail">
    <div class="head">
      <img src="assets/imgs/avater/avater_card.png" class="avatar-img" alt="">
      <div class="avatar-body">
        <div class="name">
          <em class="text">张小明</em>
          <em class="time">2018-1-27</em>
        </div>
        <div class="detail">
          灯具／灯不亮了
        </div>
        <div class="firm">
          维修厂商：北京苏南方圆建设有限公司
        </div>
      </div>
    </div>
    <div class="problem-img">
      <img src="assets/imgs/wait_img.png" alt="">
    </div>
    <div class="word">
      钟楼百货星巴克咖啡厅一楼吧台区的顶部吊灯 有损坏，总是一闪一闪的。
    </div>
  </div>

  <div class="br"></div>

  <ul class="import-img">
    <li class="item-img" *ngFor="let item of import">
      <img src="assets/imgs/import/{{ item.url }}.png" alt="">
      <i class="icon-radio-selected"></i>
    </li>
  </ul>

  <div class="br"></div>

  <div class="explain">
    <div class="explain-head">
      <span class="icon-explain-yellow"></span>
      <span class="title">说明</span>
      <span class="time">2017.05.20 12:30</span>
    </div>
    <div class="explain-content">客厅灯管线头断了</div>
    <div class="explain-footer">
      <img src="assets/imgs/change-after.png" alt="">
      <img src="assets/imgs/change-after.png" alt="">
      <img src="assets/imgs/change-after.png" alt="">
    </div>
  </div>
  <div class="explain">
    <div class="explain-head">
      <span class="icon-explain-blue"></span>
      <span class="word">完成说明</span>
      <span class="time">2017.05.20 12:30</span>
    </div>
    <div class="explain-content">客厅灯管线头断了，已修好</div>
    <div class="explain-footer">
      <img src="assets/imgs/change-before.png" alt="">
      <img src="assets/imgs/change-before.png" alt="">
      <img src="assets/imgs/change-before.png" alt="">
    </div>
  </div>

  <div class="br"></div>
  <div class="br"></div>

  <ul class="media-ibox p-t-b-xxl">
    <li class="quote">
      <em class="icon-total-time"></em>
      <span>总工时</span>
      <br />
      <span class="count">2</span>小时
    </li>
    <li class="quote">
      <em class="icon-total-money"></em>
      <span>耗材总成本</span>
      <br />
      <span class="count">2800</span>元
    </li>
  </ul>

  <div class="br"></div>

  <div class="store-info">
    <img src="assets/imgs/avater/avater_card.png" class="shop-logo">
    <p class="shop-name">回忆酒吧</p>
  </div>
  <div class="media-ibox media-phone">
    <div class="f-left">
      <p class="phone-number">18921450102</p>
      <p class="store-manager">
        <span>店面经理</span>
        <span>李家乐</span>
      </p>
    </div>
    <div class="icon-phone"></div>
  </div>
  <div class="media-ibox media-phone">
    <div class="f-left">
      <p class="phone-number">010-5788098</p>
      <p class="store-manager">
        <span>店面电话</span>
      </p>
    </div>
    <div class="icon-phone"></div>
  </div>

  <div class="br"></div>



  <div class="worker-info">
    <img src="assets/imgs/avater/avater_card.png" alt="" class="worker-img">
    <div class="worker-body">
      <p class="name">刘金明</p>
      <p class="phone">
        <span class="f-left">12345678910</span>
        <em class="icon-phone-s"></em>
      </p>
      <p class="worker-id">
        <em>员工号：</em>
        <span>0011</span>
        <span class="store-name">北京苏南方圆</span>
      </p>
    </div>
  </div>


  <div class="br"></div>

  <div class="worker-rate">
    <div class="icon-star"></div>
    <ul class="rate">
      <li class="rate-item active">技术好</li>
      <li class="rate-item">维修速度快</li>
      <li class="rate-item">沟通流畅</li>
    </ul>
  </div>
  <div class="worker-data">
    <div class="data">
      <p class="title">
        <span>已维修</span>
        <span class="num">15</span>
        <span class="gray">单</span>
      </p>
      <ul class="data-item">
        <li class="count">
          <span>24</span>
          <span class="detail">总时长</span>
          <em class="bg-green"></em>
        </li>
        <li class="count">
          <span>15</span>
          <span class="detail">总单数</span>
          <em class="bg-yellow"></em>
        </li>
        <li class="count">
          <span>3</span>
          <span class="detail">为我维修</span>
          <em class="bg-blue"></em>
        </li>
      </ul>
    </div>
    <div class="icon-house-l"></div>
  </div>
</ion-content>
