page-drawing-map {
  .scroll-content {
    -webkit-overflow-scrolling: auto !important;
  }
  .tabs .tabs-rate {
    padding-right: 85px;
  }
  ion-header {
    .filter-mask {
      top: 0;
      bottom: -20px;
    }
  }
  ion-footer {
    height: 44px;
    @include box_shadow(0px, 0px, 70px, rgba(3, 1, 0, .25));
    background-color: $white;
    text-align: center;
    .toolbar .toolbar-background {
      border: 0;
    }
    ion-navbar {
      .ion-ios-easel,
      .ion-md-easel {
        min-width: 15px;
        width: 15px;
        height: 16px;
        margin-left: 10px;
        background-image: url('#{$image-icon}/icon-filter.png');
        background-size: 100%;
        &::before {
          display: none;
        }
      }
      .ion-ios-help,
      .ion-md-help {
        width: 17px;
        height: 17px;
        margin-right: 10px;
        background-image: url('#{$image-icon}/icon-problem.png');
        background-size: 100%;
        &::before {
          display: none;
        }
      }
      .text {
        display: inline-block;
        line-height: 20px;
        padding: 8px 0;
      }
    }
  }
  .bar-button-md[icon-only] ion-icon {
    min-width: 0;
  }
  .filter-list {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    padding: 20px 0;
    background-color: $white;
    @include transform(translateY(-100%));
    .item {
      padding: 5px 15px;
      text-align: left;
      border-left: 5px solid transparent;
      &+.item {
        margin-top: 20px;
      }
      &.active {
        border-color: $green;
      }
    }
    [class*="icon"] {
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
    .text {
      display: inline-block;
      font-size: 15px;
      line-height: 1;
      margin-left: 10px;
      vertical-align: middle;
    }
  }
  .filter-mask {
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 1px;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
  }
  .drag-area {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .drag-img {
    position: absolute;
    height: 100%;
    img {
      vertical-align: top;
      height: 100%;
      max-width: none;
    }
  }
  .draggable-point {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $white;
    line-height: 28px;
    text-align: center;
    color: $white;
    @include border_radius(100%);
  }
  .point-repair {
    background-color: #ff7653;
    @include box_shadow(0px 0px 21px rgba(251,111,76,.56));
  }
  .point-photo {
    background-color: $green;
    @include box_shadow(0px 0px 21px rgba(5,209,175,.56));
  }
  .point-file {
    background-color: #00c5fe;
    @include box_shadow(0px 0px 21px rgba(0,197,254,0.56));
  }
}
