<ion-header>
  <ion-navbar>
    <ion-title>苏南易维</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<!-- slide B -->
  <ion-slides autoplay="4200" loop="true" pager="true">
    <ion-slide *ngFor="let n of [1,2,3,4]">
      <img src="assets/imgs/banner/banner{{n}}.jpg" alt="">
    </ion-slide>
  </ion-slides>
<!-- slide E -->
<!-- category B -->
  <div class="ibox">
    <div class="category category-lg">
      <div class="item-list">
        <div class="item" *ngFor="let cate of category">
          <div class="item-img">
            <img src="assets/imgs/icon/index/{{ cate.url }}.png" />
          </div>
          <p class="title">{{ cate.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- category E -->
</ion-content>
