page-report-detail {
    .report-detail {
        padding-bottom: 10px;

        .report-detail-title {
            overflow: hidden;

            .expand {
                margin-bottom: -1px;
            }
        }

        .row-img {
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }

        .icon-no {
            float: left;
            width: 18px;
            height: 14px;
            margin-right: 20px;
        }

        .item-info {
            float: left;
            font-size: 14px;

            .title {
                em {
                    color: $secondary-text;
                }
            }

            .content {
                font-size: 12px;
                color: #ccc;
                margin-top: 10px;
            }
        }

        .quote {
            float: left;
            width: 50%;
            height: 40px;
            font-size: 11px;
            color: $gray-light;

            .count {
                font-family: Microsoft YaHei;
                font-size: 18px;
                margin-top: 10px;
                color: black;
            }
        }

        .expand {
            padding-top: 15px;
            background-color: white;

            .title-second {
                padding-left: 15px;
                font-size: 14px;
                color: $secondary-text;
            }

            .media-body {
                height: 70px;
                padding: 15px 0 0 52px;
                width: 100%;
                margin-left: 0;

                .media-footer {
                    padding: 0;
                }
            }
        }

        .order-child {
            margin-top: 15px;
            padding: 15px;
            background-color: white;

            .title {
                position: relative;
                font-size: 16px;

                &:before {
                    content: '';
                    position: absolute;
                    left: -15px;
                    top: 5px;
                    width: 3px;
                    height: 18px;
                    background-color: $green;
                }
            }

            .title-second {
                margin-top: 20px;
                font-size: 14px;
                color: $secondary-text;
            }

            .main-tenance-hours {
                margin-top: 10px;
            }

            .photo-list {
                margin-top: -10px;
                margin-right: -10px;

                img {
                    margin-top: 10px;
                }
            }
        }
    }
}
