page-add-problem {
  .ibox-footer-button {
    overflow: hidden;
    .footer-btn {
      font-size: 18px;
      width: 100%;
      padding: 16px 0;
    }
    .btn-normal {
      background-color: $white;
    }
    .btn-success {
      background-color: #05d1af;
      color: #fff;
    }
  }
}
