page-map {
  #container {
    width: 100%;
    height: 80%;
    background-color: red;
    img {
      max-width: none !important;
    }
  }
  #btn-location {
    position: relative;
    top: 10px;
    left: 0;
    z-index: 999;
  }
  .btn_loaction {
    padding-right: 10px;
  }
}
