.ibox {
  background-color: white;
}

.repair-list,
.shop-list {
  overflow: hidden;
}

/* 首页分类模块 */

.category {
  margin: 0 10px;
  overflow: hidden;
  .item-list {
    margin: 0 -10px -1px 0;
    overflow: hidden;
    .item {
      float: left;
      width: 33.333333%;
      height: 105px;
      padding: 24px 0 22px 0;
      font-size: 12px;
      line-height: 1;
      border-bottom: 1px solid $border;
      .item-img {
        width: 100%;
        text-align: center;
        img {
          width: 34px;
          height: 35px;
          display: inline-block;
          vertical-align: top;
        }
      }
      .title {
        margin-top: 12px;
        text-align: center;
      }
    }
  }
  &.category-lg {
    .item {
      height: 120px;
      padding: 19px 0 29px 0;
      .item-img img {
        width: 50px;
        height: 50px;
      }
      .title {
        margin-top: 10px;
      }
    }
  }
}

/* tab */

.tabs {
  position: relative;
  .tabs-list {
    background-color: $white;
    border-bottom: 1px solid $body-bg;
    overflow: hidden;
    .tab-btn {
      float: left;
      padding: 12px 0;
      color: $secondary-text;
      text-align: center;
      line-height: 15px;
      em.text {
        position: relative;
        display: inline-block;
        vertical-align: top;
        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: -14px;
          border-width: 5px 4px;
          border-style: solid;
        }
        &::before {
          display: none;
          margin-top: -8px;
          border-color: transparent transparent $secondary-text transparent;
        }
        &::after {
          margin-top: -3px;
          border-color: $secondary-text transparent transparent transparent;
        }
      }
      &.active {
        color: $main-text;
        em.text::after {
          display: none;
        }
        em.text::before {
          display: block;
          border-bottom-color: $main-text;
        }
      }
      &.tab-icon-both {
        em.text::before {
          display: block;
          margin-top: -12px;
        }
        em.text::after {
          margin-top: 0;
        }
      }
      &.tab-icon-none {
        em.text::before,
        em.text::after {
          display: none;
        }
      }
    }
    .tab-icon-both {
      &.up {
        color: $main-text;
        em.text::before {
          border-bottom-color: $main-text;
        }
      }
      &.down {
        color: $main-text;
        em.text::after {
          border-top-color: $main-text;
        }
      }
    }
    &.tabs-two {
      .tab-btn {
        width: 50%;
      }
    }
    &.tabs-third {
      .tab-btn {
        width: 33.333333%;
      }
      .tab-sort {
        position: absolute;
        right: 0;
        line-height: 15px;
        padding: 12px 20px 12px 14px;
        color: $secondary-text;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -7px;
          width: 1px;
          height: 14px;
          background-color: $secondary-text;
        }
      }
      &.tabs-sort{
        padding-right: 82px;
      }
    }
    &.tabs-four {
      .tab-btn {
        width: 25%;
      }
    }
  }
  .tabs-rate {
    background-color: $blue;
    line-height: 20px;
    text-align: center;
    color: $secondary-text;
    overflow: hidden;
    .tab-btn {
      float: left;
      padding: 10px 0;
      em.text {
        position: relative;
        display: inline-block;
        font-size: 15px;
        vertical-align: top;
      }
      &.active {
        color: $green;
        em.text::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -10px;
          height: 2px;
          background-color: $green;
        }
      }
    }
    &.tabs-two {
      .tab-btn {
        width: 50%;
      }
    }
    &.tabs-third {
      .tab-btn {
        width: 33.333333%;
      }
    }
    &.tabs-four {
      .tab-btn {
        width: 25%;
      }
    }
  }
  .tabs-content {
    position: absolute;
    top: 100%;
    margin-top: -1px;
    z-index: 1;
    border-top: 1px solid $border;
    background-color: $white;
  }
}

.time-form {
  position: relative;
  padding: 0 6.9% 80px 6.9%;
  width: 100%;
  background-color: white;
  .time-input {
    padding: 26px 0 26px 6.5%;
    overflow: hidden;
    input {
      float: left;
      width: 38%;
      height: 35px;
      padding-left: 8%;
      border: 1px solid $border;
    }
    .br {
      width: 4%;
      height: 1px;
      float: left;
      margin: 16px 4%;
      background-color: #ccc;
    }
  }
  .time-list {
    margin-bottom: 20px;
    overflow: hidden;
    .item {
      float: left;
      width: 22.5%;
      height: 26px;
      line-height: 26px;
      margin-right: 3%;
      text-align: center;
      border: 1px solid $box-border;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        color: $green;
        background-color: rgba(5, 209, 175, .1);
        border: 1px solid $green;
      }
    }
  }
}

.select-list {
  padding: 20px;
  overflow: hidden;
  .item {
    float: left;
    width: 33%;
    padding-top: 25px;
    &:first-child {
      .item-img {
        &:after {
          background-color: rgba(0, 0, 0, 0);
        }
      }
      .name {
        color: $green;
      }
    }
    .item-img {
      position: relative;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        content: '';
      }
      img {
        widht: 100%;
        height: 100%;
      }
    }
    .name {
      margin-top: 12px;
      color: $secondary-text;
      text-align: center;
    }
  }
}

/* 全景 */

.shop-detail {
  width: 100%;
  margin-top: 10px;
  padding: 20px 15px 10px;
  background-color: white;
  overflow: hidden;
  .title {
    margin-bottom: 20px;
    color: $main-text;
    overflow: hidden;
    .point {
      float: right;
      width: 16px;
      height: 3px;
      margin-top: 9px;
      content: url("../assets/imgs/point.png");
    }
  }
  .list {
    margin-right: -15px
  }
  .detail-item {
    position: relative;
    float: left;
    width: 50%;
    padding-right: 15px;
    .detail-img {
      position: relative;
      width: 100%;
      height: 105px;
      overflow: hidden;
      .mask {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: white;
        background-color: rgba(0, 0, 0, .3);
      }
      img {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .info {
      margin-top: 10px;
      color: $secondary-text;
      text-align: center;
    }
  }
  .problem {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

/* 维修单 */

.repair-emement {
  margin-top: 10px;
  .media-bar {
    width: 100%;
    padding: 12px 12px;
    overflow: hidden;
    background-color: white;
    .shop-name {
      float: right;
      margin-left: 4px;
      color: $green;
    }
  }
  .media-body {
    width: 100%;
    height: 100px;
    padding: 15px;
    .media-title {
      height: 18px;
      overflow: hidden;
    }
    .media-time {
      float: right;
      line-height: 18px;
      font-size: 12px;
      color: $secondary-text;
    }
    .media-img {
      margin-top: 15px;
      overflow: hidden;
      img {
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 5px;
      }
      .point-s-img {
        float: left;
        width: 16px;
        height: 4px;
        margin-left: 15px;
        margin-top: 18px;
        content: url("../assets/imgs/point_s.png")
      }
    }
  }
  .media-info {
    padding: 19px 15px;
    color: $secondary-text;
    background-color: white;
    p+p {
      margin-top: 14px;
    }
  }
  .price {
    padding: 17px 15px;
    color: $red;
    font-size: 18px;
    background-color: white;
    text-align: right;
  }
  .empty {
    height: 25px;
    background-color: white;
  }
}

//订单详情
.order-detail {
  .status {
    width: 100%;
    height: 64px;
    padding: 22px 15px;
    background-image: url("../assets/imgs/bg/bg_success.png");
    background-size: cover;
    overflow: hidden;
    .title {
      float: left;
      margin-left: 10px;
      font-size: 16px;
      color: white;
    }
  }
  .info {
    margin-top: 10px;
    padding: 0 20px 15px;
    background-color: $white;
    .info-title {
      width: 71px;
      line-height: 23px;
      margin: 0 auto 16px;
      text-align: center;
      color: white;
      background-color: $green;
    }
    .info-list {
      .info-item {
        font-size: 13px;
        overflow: hidden;
        .title {
          float: left;
          color: $secondary-text;
        }
        .text {
          float: right;
          font-weight: normal;
        }
        &+.info-item {
          margin-top: 6px;
        }
      }
      &.info-hide {
        max-height: 46px;
        overflow: hidden;
      }
    }
  }
  .point {
    margin-top: 10px;
    padding-bottom: 25px;
    background-color: $white;
    .point-title {
      overflow: hidden;
      font-size: 15px;
      padding: 11px 13px 11px;
    }
    .point-content {
      background-color: $body-bg;
      overflow: hidden;
      padding: 15px;
      .point-img {
        float: left;
        width: 80px;
        height: 80px;
        img {
          max-width: 100%;
        }
      }
      .point-body {
        position: relative;
        height: 80px;
        width: 70%;
        margin-left: 30%;
        .point-describe {
          overflow: hidden;
          .address {
            float: left;
            color: $gray;
          }
          .currency {
            float: right;
            color: $red;
          }
          [class*='urgent-'] {
            float: right;
            margin-right: 0;
          }
        }
        .point-tag {
          margin-top: 5px;
          font-size: 13px;
          color: $gray;
          .tag {
            padding: 2px 4px;
            color: $yellow;
            border: 1px solid $yellow;
          }
        }
        .point-action {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          overflow: hidden;
          color: $gray-light;
          font-size: 13px;
          .question {
            float: right;
            color: $red;
          }
        }
      }
    }
    .point-retract {
      padding: 15px 15px 0 15px;
      margin-bottom: -10px;
      overflow: hidden;
      .btn-retract {
        float: right;
        padding: 3px 11px;
        border: 1px solid $main-text;
        border-radius: 2px;
      }
    }
  }
  .pay {
    margin-top: 10px;
    padding: 21px 12px;
    background-color: white;
    .sum {
      float: right;
      color: $red;
    }
  }
}

/* 流程 */

.process-list {
  color: $main-text;
  .process-element {
    min-height: 100%;
    background-color: $white;
    .media-title {
      padding: 18px 0;
      font-size: 17px;
      text-align: center;
    }
    .media-body {
      border-top: 1px solid $box-border;
      padding-left: 30px;
      padding-bottom: 40px;
    }
    .media-timeline {
      padding: 40px 15px 0 15px;
      border-left: 1px solid $box-border;
    }
    .timeline-list {
      line-height: 15px;
      .timeline-item {
        position: relative;
        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 9px;
          left: -20px;
        }
        &::after {
          top: 3px;
          height: 9px;
          background-color: #d0d5de;
          @include border_radius(100%);
        }
        &:last-child {
          color: $green;
          &::after {
            width: 5px;
            height: 5px;
            left: -21px;
            top: 2px;
            border: 3px solid $green;
            background-color: $white;
          }
          &::before {
            top: 7px;
            bottom: 0;
            background-color: $white;
          }
        }
        & + .timeline-item {
          margin-top: 40px;
        }
      }
      .text {
        display: block;
        margin-right: 100px;
      }
      .time {
        position: absolute;
        top: 0;
        right: 0;
        color: $gray-light;
      }
      .describe {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 5px;
        font-size: 10px;
        line-height: 1;
        color: $gray-light;
      }
    }
  }
} 
//search input

.ibox-search {
  position: relative;
  .search-input {
    display: block;
    width: 91.7%;
    height: 30px;
    margin: 14px auto;
    text-indent: 10px;
    border: none;
    border-radius: 2px;
    background-color: white;
  }
  ion-icon {
    position: absolute;
    top: 7px;
    left: 50%;
    margin-left: -15px;
    font-size: 14px;
    color: $secondary-text;
  }
}

/* 记录 */

.explain {
  margin-top: 10px;
  padding: 15px 15px 20px 15px;
  background-color: white;
  .explain-head {
    line-height: 25px;
    overflow: hidden;
    .title {
      float: left;
      font-size: 16px;
      color: $gray;
    }
    .time {
      float: right;
      font-size: 10px;
      color: $gray-light;
    }
  }
  .explain-content {
    margin-top: 20px;
    font-size: 15px;
    color: $gray;
  }
  .explain-footer {
    margin-top: 50px;
    overflow: hidden;
    img {
      float: left;
      width: 50px;
      margin-right: 10px;
    }
  }
}
