.ibox {
  background-color: white;
}

.repair-list,
.shop-list {
  overflow: hidden;
}

/* 首页分类模块 */

.category {
  margin: 0 10px;
  overflow: hidden;
  .item-list {
    margin: 0 -10px -1px 0;
    overflow: hidden;
    .item {
      float: left;
      width: 33.333333%;
      height: 105px;
      padding: 24px 0 22px 0;
      font-size: 12px;
      line-height: 1;
      border-bottom: 1px solid $border;
      .item-img {
        width: 100%;
        text-align: center;
        img {
          width: 34px;
          height: 35px;
          display: inline-block;
          vertical-align: top;
        }
      }
      .title {
        margin-top: 12px;
        text-align: center;
      }
    }
  }
  &.category-lg {
    .item {
      height: 120px;
      padding: 19px 0 29px 0;
      .item-img img {
        width: 50px;
        height: 50px;
      }
      .title {
        margin-top: 10px;
      }
    }
  }
}

/* tab */

.tabs {
  background-color: $white;
  .tab-shop {
    width: 100%;
    height: 39px;
    overflow: hidden;
    .tab-item {
      position: relative;
      float: left;
      width: 50%;
      text-align: center;
      line-height: 39px;
      color: $secondary-text;
      &:after {
        position: absolute;
        top: 44%;
        left: 70%;
        content: '';
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 6px solid $secondary-text;
      }
      &.tab-icon-none {
        &::after {
          display: none;
        }
      }
      &.active {
        color: $main-text;
        &:after {
          border-top-color: $main-text;
        }
      }
    }
  }
  .select-list {
    padding: 20px;
    border-top: 1px solid $border;
    overflow: hidden;
    .item {
      float: left;
      width: 33%;
      padding-top: 25px;
      &:first-child {
        .item-img {
          &:after {
            background-color: rgba(0, 0, 0, 0);
          }
        }
        .name {
          color: $green;
        }
      }
      .item-img {
        position: relative;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        &:after {
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, .5);
          width: 100%;
          height: 100%;
          content: '';
        }
        img {
          widht: 100%;
          height: 100%;
        }
      }
      .name {
        margin-top: 12px;
        color: $secondary-text;
        text-align: center;
      }
    }
  }
}

.tab-rate {
  background-color: $blue;
  overflow: hidden;
  .item-rate {
    float: left;
    width: 33.333333%;
    line-height: 40px;
    text-align: center;
    color: $secondary-text;
    &.active {
      position: relative;
      color: $green;
      &:after {
        content: '';
        position: absolute;
        left: 20%;
        bottom: 0;
        width: 58%;
        height: 2px;
        background-color: $green;
      }
    }
  }
  &.tab-rate-s {
    .item-rate {
      width: 25%;
    }
  }
}

/* 全景 */

.shop-detail {
  width: 100%;
  margin-top: 10px;
  padding: 20px 15px 10px;
  background-color: white;
  overflow: hidden;
  .title {
    margin-bottom: 20px;
    color: $main-text;
    overflow: hidden;
    .point {
      float: right;
      width: 16px;
      height: 3px;
      margin-top: 9px;
      content: url("../assets/imgs/point.png");
    }
  }
  .list {
    margin-right: -15px
  }
  .detail-item {
    position: relative;
    float: left;
    width: 50%;
    padding-right: 15px;
    .detail-img {
      position: relative;
      width: 100%;
      height: 105px;
      overflow: hidden;
      .mask {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: white;
        background-color: rgba(0, 0, 0, .3);
      }
      img {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .info {
      margin-top: 10px;
      color: $secondary-text;
      text-align: center;
    }
  }
  .problem {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

/* 维修单 */

.repair-focus {
  margin-top: 10px;
  .focus-head {
    width: 100%;
    padding: 12px 12px;
    overflow: hidden;
    background-color: white;
    .shop-name {
      float: right;
      margin-left: 4px;
      color: $green;
    }
  }
  .focus-detail {
    width: 100%;
    height: 100px;
    padding: 15px;
    .focus-title {
      height: 18px;
      overflow: hidden;
      .focus-time {
        float: right;
        line-height: 18px;
        font-size: 12px;
        color: $secondary-text;
      }
    }
    .focus-img {
      margin-top: 15px;
      overflow: hidden;
      img {
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 5px;
      }
      .point-s-img {
        float: left;
        width: 16px;
        height: 4px;
        margin-left: 15px;
        margin-top: 18px;
        content: url("../assets/imgs/point_s.png")
      }
    }
  }
  .order {
    padding: 19px 15px;
    color: $secondary-text;
    background-color: white;
    p+p {
      margin-top: 14px;
    }
  }
  .price {
    padding: 17px 15px;
    color: $red;
    font-size: 18px;
    background-color: white;
    text-align: right;
  }
  .empty {
    height: 25px;
    background-color: white;
  }
}
