* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  font-weight: normal;
}

li {
  list-style: none;
}

em,
em.text {
  font-style: normal;
  font-size: 14px;
}

.content.content-md,
.content.content-ios {
  color: $main-text;
}

[ion-button].button-md,
[ion-button].button-ios {
  @include box_shadow(none);
  @include border_radius();
}

ion-header.header {
  ion-navbar {
    &.toolbar {
      min-height: 48px
    }
    .toolbar-background {
      background: $blue; //border-bottom: 1px solid $black-blue;
    }
    .toolbar-title {
      color: white;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
    ion-title {
      left: 0;
      top: 0;
      padding: 0 90px 1px;
      position: absolute;
      width: 100%;
      height: 48PX;
    }
    &.border-none {
      .toolbar-background {
        border: 0;
      }
    }
    &:after {
      display: none;
    }
  }
  &:after {
    display: none;
  }
}

.back-button.show-back-button {
  margin: 0;
  z-index: 99;
}

ion-toast .toast-message {
  text-align: center;
}

.ion-ios-arrow-back:before,
.ion-md-arrow-back:before {
  content: '';
  width: 10px;
  height: 20px;
  @include back_size(.5);
  background-image: url($icon-path);
  background-position: -10px -9px;
}

.ion-ios-arrow-back:before {
  margin-left: 6px;
}

.ion-md-arrow-back:before {
  margin: 0;
}

.back-button-md {
  min-width: 0 !important;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ' ';
  width: 0;
  display: block;
  clear: both;
}

.f-left {
  float: left !important;
}

.f-right {
  float: right !important;
}

.f-none {
  float: none !important;
}

li {
  list-style: none;
}

.m-t-l {
  margin-top: 30px;
}

.m-t-s {
  margin-top: 10px;
}

.p-t-b-l {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-t-b-xl {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.p-t-b-xxl {
  padding-top: 25px;
  padding-bottom: 25px;
}

.border-b-gray {
  border-bottom: 1px solid #E7E8E8;
}

.border-none {
  border: none !important;
}

.checkbox {
  input {
    height: 0;
    width: 0;
    visibility: hidden;
    overflow: hidden;
    @include opacity(0);
  }
  input+.checkbox {
    width: 20px;
    height: 20px;
    background-image: url($image-icon + "icon_unselected.png");
    background-size: 100%;
  }
  input:checked+.checkbox {
    background-image: url($image-icon + "icon_selected.png");
  }
}
