.stage-page {
    background-color: white;
    .stage {
      width: 96%;
      margin-left: 5%;
      padding: 15px 0;
      border-bottom: 1px solid $border;
      overflow: hidden;
      &:last-child {
        border: none;
      }
      img {
        float: left;
        width: 50px;
        height: 50px;
        margin-right: 4.4%;
      }
      .title {
        float: left;
        line-height: 50px;
      }
      .user-img {
        width: 20px;
        height: 20px;
      }
      .user-title {
        float: left;
        line-height: 20px;
      }
    }
  }
  
  .shop-list {
    .stage {
      width: 100%;
      margin-left: 0;
      padding-left: 5%;
      border-top: none !important;
      border-top: 1px solid $border;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .title {
        line-height: 40px;
      }
    }
  }