.stage-page {
  margin-top: 15px;
  background-color: white;
  .stage {
    margin-left: 15px;
    padding: 15px 0;
    line-height: 15px;
    &+.stage {
      border-top: 1px solid $border;
    }
    overflow: hidden;
    img {
      float: left;
      width: 50px;
      height: 50px;
      margin-right: 4.4%;
    }
    .title {
      float: left;
      line-height: 50px;
    }
    .user-img {
      width: 20px;
      height: 20px;
    }
    .user-title {
      float: left;
      line-height: 20px;
    }
    .factory {
      margin-bottom: 10px;
      color: $secondary-text;
    }
    @for $i from 1 to 7 {
      .icon-stage-#{$i} {
        float: left;
        width: 15px;
        height: 15px;
        margin-right: 5%;
        background: url("#{$image}/project/project_#{$i}.png") no-repeat;
        background-size: contain;
      }
    }
    .percentage {
      position: relative;
      width: 100%;
      height: 40px;
      line-height: 40px;
      color: $main-text;
      .bg-green {
        position: absolute;
        left: 0;
        top: 0;
        width: 40%;
        height: 100%;
        background-color: #E1FCE6;
      }
      .data {
        position: absolute;
        left: 15px;
        top: 0;
        z-index: 1;
        .count {
          margin-right: 20px;
          color: $green;
        }
      }
    }
    .file-name {
      float: left;
      font-size: 16px;
      line-height: 50px;
    }
    .stage-news {
      float: left;
      width: 82%;
      .news-name {
        font-size: 16px;
        .time {
          float: right;
          color: #ccc;
          font-size: 12px;
        }
      }
      .news-detail {
        margin-top: 9px;
        font-size: 13px;
        color: #A4A5A8;
      }
    }
    &.cloud-smart {
      margin-left: 0;
      text-align: center;
      border-bottom: 1px solid $border;
    }
  }
}

.shop-list {
  margin-top: 0;
  .stage {
    width: 100%;
    margin-left: 0;
    padding-left: 5%;
    border-top: 1px solid $border;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .title {
      line-height: 40px;
    }
  }
}

.media-ibox {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  overflow: hidden;
  .media-img {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    img {
      max-width: 100%;
    }
  }
  .media-body {
    float: left;
    margin-left: 52px;
    .title {
      font-size: 17px;
    }
    .address {
      margin-top: 5px;
      color: $secondary-text;
      font-size: 15px;
    }
  }
  .media-footer {
    width: 100%;
    padding-left: 52px;
    padding-top: 13px;
    overflow: hidden;
    .media-name {
      float: right;
      margin-left: 4px;
      color: $green;
    }
    .media-time {
      float: right;
      margin-top: 3px;
      font-size: 12px;
      color: $gray-light;
    }
  }
}

//消息数量
.news-count {
  position: absolute;
  right: -10px;
  top: -4px;
  color: white;
  font-size: 12px;
  padding: 0 4px;
  text-align: center;
  background-color: #FD4343;
  border: 2px solid white;
  border-radius: 12px;
}

//紧急程度按状态
[class*='urgent-'] {
  float: left;
  width: 34px;
  line-height: 18px;
  text-align: center;
  margin-right: 12px;
  font-size: 11px;
}

.urgent-crash {
  color: #F82A14;
  background-color: rgba(248, 42, 20, .2);
}

.urgent-general {
  color: #13B9FE;
  background-color: rgba(19, 185, 254, .2);
}

.chart-data {
  margin-top: 10px;
  background-color: white;
  padding: 40px 26px 35px 23px;
  overflow: hidden;
  .data-list {
    margin-top: 40px;
    .data-item {
      position: relative;
      overflow: hidden;
      &+.data-item {
        margin-top: 19px;
      }
      [class*='bar'] {
        position: absolute;
        left: 0;
        top: 2px;
        width: 4px;
        height: 20px;
        border-radius: 2px;
      }
      $barFrequencyColor: '#1E8CE1' '#8CC42A' '#FDA109' '#F85B25' '#9A34B8' '#565656' '#996523';
      @for $i from 1 to 8 {
        .bar-frequency-#{$i} {
          background-color: #{nth($barFrequencyColor,$i)};
        }
      }
      $barVulnerableColor: '#FB6428' '#FF9102' '#FEBE24' '#FFE506' '#FC481F';
      @for $i from 1 to 6 {
        .bar-vulnerable-#{$i} {
          background-color: #{nth($barVulnerableColor,$i)};
        }
      }
      $barSortColor: '#FF8084' '#FFA15C' '#FFC45A' '#31D5C2' '#ADA8FE';
      @for $i from 1 to 6 {
        .bar-sort-#{ $i } {
          background-color: #{nth($barSortColor, $i)};
        }
      }
      .data-body {
        width: 100%;
        padding-left: 18px;
        .data-head {
          overflow: hidden;
          .title {
            float: left;
            width: 45%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .percentage {
            float: left;
            width: 20%;
            text-align: center;
            color: $secondary-text;
          }
          .price {
            float: left;
            width: 25%;
            text-align: center;
            color: $secondary-text;
          }
        }
      }
      .count {
        margin-top: 10px;
      }
    }
  }
}

.problem-detail {
  width: 100%;
  padding: 20px 15px 22px 15px;
  background-color: white;
  &+.problem-detail {
    margin-top: 15px;
  }
  .head {
    position: relative;
    overflow: hidden;
    .avatar-img {
      position: absolute;
      left: 0;
      top: 0;
      width: 70px;
      height: 70px;
    }
    .avatar-body {
      margin-left: 85px;
      line-height: 1;
      overflow: hidden;
      .name {
        position: relative;
        color: $gray;
        .text {
          font-size: 18px;
        }
        .time {
          position: absolute;
          right: 0;
          bottom: 0;
          font-size: 12px;
          vertical-align: bottom;
          color: $secondary-text;
        }
      }
      .detail {
        margin-top: 10px;
        color: $secondary-text;
      }
      .firm {
        margin-top: 16px;
        font-size: 12px;
        color: $gray-light;
      }
    }
  }
  .problem-img {
    margin: 25px auto 0 auto;
    overflow: hidden;
    img {
      vertical-align: top;
    }
  }
  .word {
    font-size: 16px;
    margin-top: 22px;
  }
}
