ion-footer.footer {
  .float-box {
    position: relative;
    min-height: 50px;
    background-color: $white;
    padding: 0 135px 0 15px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-top: 1px solid $border;
    }
  }

  .float-choice,
  .float-sum {
    padding-top: 15px;
    float: left;
    line-height: 20px;
  }

  .float-choice {
    .checkbox-icon {
      margin-top: 2px;
    }
  }

  .float-sum {
    margin-left: 15px;
    font-size: 16px;
  }

  .float-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    width: 135px;
    padding: 16px 0;
    background-color: $green;
    color: $white;
  }

  .footer-button-group {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      border-top: 1px solid $border;
    }

    .footer-button {
      float: left;
      width: 50%;

      &.footer-button-quit {
        color: $main-text;
        background-color: $white;
      }
    }
  }
}
