[class*='icon-radio-'] {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 18px;
  background-size: cover;
}
.icon-radio-selected {
  content: url("../assets/imgs/status/icon_selected.png");
}
.icon-radio-unselected {
  content: url("../assets/imgs/status/icon_unselected.png");
}

[class*='radio-icon-'] {
  position: relative;
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-left: 8px;
  margin-right: 5%;
  border-radius: 50%;
  &:before {
    content: '';
    position: absolute;
    left: -4px;
    top: -4px;
    width: 7px;
    height: 7px;
    border: 4px solid;
    border-radius: 50%;
  }
}
.radio-icon-green {
  background-color: rgba(5,209,175,.6);
  &:before {
    border-color: rgba(5,209,175,.3);
  }
}
.radio-icon-yellow {
  background-color: rgba(255,160,84,.6);
  &:before {
    border-color: rgba(255, 160, 84, .3);
  }
}
.radio-icon-pink {
  background-color: rgba(254,141,176,.6);
  &:before {
    border-color: rgba(254,141,176, .3);
  }
}
.radio-icon-blue {
  background-color: rgba(75,219,255,.6);
  &:before {
    border-color: rgba(75,219,255, .3);
  }
}
.radio-icon-purple {
  background-color: rgba(156,143,254,.6);
  &:before {
    border-color: rgba(156,143,254, .3);
  }
}
.radio-icon-gray {
  background-color: rgba(151,166,197,.6);
  &:before {
    border-color: rgba(151,166,197, .3);
  }
}

.icon-file {
  float: left;
  width: 60px;
  height: 50px;
  margin: 0 15px;
  content: url("../assets/imgs/import/file.png");
}

[class*='icon-explain-'] {
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 8px;
}
.icon-explain-blue {
  content: url("../assets/imgs/icon/icon_explain_blue.png");
}
.icon-explain-yellow {
  content: url("../assets/imgs/icon/icon_explain_yellow.png");
}

[class*='icon-total-'] {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 9px;

}
.icon-total-money {
  content: url("../assets/imgs/icon/icon_total_money.png");
}
.icon-total-time {
  content: url("../assets/imgs/icon/icon_total_time.png");
}

.icon-clock {
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-right: 6px;
  content: url("../assets/imgs/icon/icon_clock.png");
}

.icon-phone {
  float: right;
  width: 16px;
  height: 16px;
  margin-top: 8px;
  content: url("../assets/imgs/icon/icon_phone.png");
}

.icon-phone-s {
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 1px;
  margin-left: 10px;
  content: url("../assets/imgs/icon/icon_phone_s.png");
}

[class *= 'icon-news-'] {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 4%;
  background-size: cover;
}
.icon-news-warm {
  background-image: url("../assets/imgs/icon/icon_news_warm.png");
}
.icon-news-3d {
  background-image: url("../assets/imgs/icon/icon_news_3d.png");
}
.icon-news-icloud {
  background-image: url("../assets/imgs/icon/icon_news_icloud.png");
}

.icon-house {
  float: left;
  width: 18px;
  height: 16px;
  margin-right: 6px;
  margin-top: 2px;
  content: url("../assets/imgs/focus/house.png");
}
.icon-house-l {
  position: absolute;
  right: 10px;
  top: 50px;
  width: 135px;
  height: 135px;
  content: url("../assets/imgs/icon/icon_house_l.png");
}


[class*='icon-arrow-right'] {
  float: left;
  width: 6px;
  height: 11px;
  margin-left: 10px;
  margin-top: 5px;
}
.icon-arrow-right {
  content: url("../assets/imgs/icon/icon_arrow_right.png");
}
.icon-arrow-right-white {
  content: url("../assets/imgs/icon/icon_arrow_right_white.png");
}

.icon-arrow-top {
  display: block;
  width: 11px;
  height: 6px;
  margin: 14px auto 0;
  content: url("../assets/imgs/icon/icon_arrow_top.png");
}

.icon-arrow-bottom {
  display: block;
  width: 11px;
  height: 6px;
  margin: 14px auto 0;
  content: url("../assets/imgs/icon/icon_arrow_bottom.png");
}

.icon-light {
  float: right;
  width: 12px;
  height: 12px;
  margin-top: 3px;
  content: url("../assets/imgs/focus/light.png");
}

.icon-star {
  width: 160px;
  height: 22px;
  margin: 0 auto 50px;
  content: url("../assets/imgs/icon/icon_star.png");
}

.icon-smile {
  float: left;
  width: 20px;
  height: 20px;
  content: url("../assets/imgs/icon/icon_smile.png");
}

.icon-avatar {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  content: url("../assets/imgs/icon/icon_avatar.png");
}

.icon-car {
  float: left;
  width: 22px;
  height: 25px;
  content: url("../assets/imgs/icon/icon_car.png");
}

.icon-car {
  float: left;
  width: 22px;
  height: 15px;
  margin-top: 5px;
  content: url("../assets/imgs/icon/icon_car.png");
}

.icon-hourglass {
  float: left;
  width: 14px;
  height: 18px;
  margin-top: 3px;
  content: url("../assets/imgs/icon/icon_hourglass.png");
}

[class*='icon-issues-'] {
  position: absolute;
  left: 0;
  top: 8px;
  width: 20px;
  height: 22px;
}
.icon-issues-number {
  content: url("../assets/imgs/icon/icon_issues_number.png");
}
.icon-issues-time {
  content: url("../assets/imgs/icon/icon_issues_time.png");
}
.icon-issues-total {
  content: url("../assets/imgs/icon/icon_issues_total.png");
}