[class*='icon-radio-'] {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 18px;
  background-size: cover;
}

.icon-radio-selected {
  content: url("#{$image-status}/icon_selected.png");
}

.icon-radio-unselected {
  content: url("#{$image-status}/icon_unselected.png");
}

[class*='radio-icon-'] {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 4px solid;
  @include border_radius(100%);
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 8px;
    @include border_radius(100%);
  }
}

.radio-icon-green {
  border-color: rgba(5, 209, 175, .3);
  &:before {
    background-color: rgba(5, 209, 175, .6);
  }
}

.radio-icon-yellow {
  border-color: rgba(255, 160, 84, .3);
  &:before {
    background-color: rgba(255, 160, 84, .6);
  }
}

.radio-icon-pink {
  border-color: rgba(254, 141, 176, .3);
  &:before {
    background-color: rgba(254, 141, 176, .6);
  }
}

.radio-icon-blue {
  border-color: rgba(75, 219, 255, .3);
  &:before {
    background-color: rgba(75, 219, 255, .6);
  }
}

.radio-icon-purple {
  border-color: rgba(156, 143, 254, .3);
  &:before {
    background-color: rgba(156, 143, 254, .6);
  }
}

.radio-icon-gray {
  border-color: rgba(151, 166, 197, .3);
  &:before {
    background-color: rgba(151, 166, 197, .6);
  }
}

.icon-file {
  width: 60px;
  height: 50px;
  content: url("#{$image}/import/file.png");
}

[class*='icon-explain-'] {
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.icon-explain-blue {
  content: url("#{$image-icon}/icon_explain_blue.png");
}

.icon-explain-yellow {
  content: url("#{$image-icon}/icon_explain_yellow.png");
}

[class*='icon-total-'] {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 9px;
}

.icon-total-money {
  content: url("#{$image-icon}/icon_total_money.png");
}

.icon-total-time {
  content: url("#{$image-icon}/icon_total_time.png");
}

.icon-clock {
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-right: 6px;
  content: url("#{$image-icon}/icon_clock.png");
}

.icon-phone {
  display: inline-block;
  width: 16px;
  height: 16px;
  content: url("#{$image-icon}/icon_phone.png");
}

.icon-phone-s {
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 1px;
  margin-left: 10px;
  content: url("#{$image-icon}/icon_phone_s.png");
}

[class *='icon-news-'] {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 4%;
  background-size: cover;
}

.icon-news-warm {
  background-image: url("#{$image-icon}/icon_news_warm.png");
}

.icon-news-3d {
  background-image: url("#{$image-icon}/icon_news_3d.png");
}

.icon-news-icloud {
  background-image: url("#{$image-icon}/icon_news_icloud.png");
}

.icon-house {
  float: left;
  width: 18px;
  height: 16px;
  margin-right: 6px;
  margin-top: 2px;
  content: url("#{$image-icon}/icon-house.png");
}

.icon-house-l {
  position: absolute;
  right: 10px;
  top: 50px;
  width: 135px;
  height: 135px;
  content: url("#{$image-icon}/icon_house_l.png");
}

[class*='icon-arrow-right'] {
  float: left;
  width: 6px;
  height: 11px;
  margin-left: 10px;
  margin-top: 5px;
}

.icon-arrow-right {
  content: url("#{$image-icon}/icon_arrow_right.png");
}

.icon-arrow-right-white {
  content: url("#{$image-icon}/icon_arrow_right_white.png");
}

.icon-arrow-top {
  display: block;
  width: 11px;
  height: 6px;
  margin: 14px auto 0;
  content: url("#{$image-icon}/icon_arrow_top.png");
}

.icon-arrow-bottom {
  display: block;
  width: 11px;
  height: 6px;
  margin: 14px auto 0;
  content: url("#{$image-icon}/icon_arrow_bottom.png");
}

.icon-light {
  float: right;
  width: 12px;
  height: 12px;
  margin-top: 3px;
  content: url("#{$image-icon}/icon-light.png");
}

.icon-star {
  width: 160px;
  height: 22px;
  margin: 0 auto 50px;
  content: url("#{$image-icon}/icon_star.png");
}

.icon-smile {
  float: left;
  width: 20px;
  height: 20px;
  content: url("#{$image-icon}/icon_smile.png");
}

.icon-avatar {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: -5px;
  content: url("#{$image-icon}/icon_avatar.png");
}

.icon-car {
  float: left;
  width: 22px;
  height: 25px;
  content: url("#{$image-icon}/icon_car.png");
}

.icon-car {
  float: left;
  width: 22px;
  height: 15px;
  margin-top: 5px;
  content: url("#{$image-icon}/icon_car.png");
}

.icon-hourglass {
  float: left;
  width: 14px;
  height: 18px;
  margin-top: 3px;
  content: url("#{$image-icon}/icon_hourglass.png");
}

[class*='icon-issues-'] {
  position: absolute;
  left: 0;
  top: 8px;
  width: 20px;
  height: 22px;
}

.icon-issues-number {
  content: url("#{$image-icon}/icon_issues_number.png");
}

.icon-issues-time {
  content: url("#{$image-icon}/icon_issues_time.png");
}

.icon-issues-total {
  content: url("#{$image-icon}/icon_issues_total.png");
}

.icon-row-time,
.icon-row-cost,
.icon-row-password {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-size: 100%;
}

.icon-row-time {
  background-image: url("#{$image-icon}/icon-time.png");
}

.icon-row-cost {
  background-image: url("#{$image-icon}/icon-cost.png");
}

.icon-row-password {
  background-image: url("#{$image-icon}/icon-password.png");
}

@for $i from 1 to 7 {
  .icon-stage-#{$i} {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: url("#{$image}/project/project_#{$i}.png") no-repeat;
    background-size: 15px 15px;
    background-position: center center;
  }
}

.icon-point {
  display: inline-block;
  width: 16px;
  height: 4px;
  background-image: url("#{$image-icon}/icon-point.png");
  background-size: 100%;
}

[class *=icon-circle-add] {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon-circle-add {
  content: url("#{$image-icon}/icon-circle-add.png");
}

.icon-circle-add-active {
  content: url("#{$image-icon}/icon-circle-add-active.png");
}

[class*=icon-problem-]{
  width: 22px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
}
.icon-problem-camera {
  content: url("#{$image-icon}/icon_problem_camera.png");
}
.icon-problem-map {
  content: url("#{$image-icon}/icon_problem_map.png");
}
.icon-problem-calendar {
  content: url("#{$image-icon}/icon_problem_calendar.png");
}
.icon-problem-picture {
  content: url("#{$image-icon}/icon_problem_picture.png");
}
.icon-problem-edit {
  content: url("#{$image-icon}/icon_problem_edit.png");
}