[class*='icon-radio-'] {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 18px;
  background-size: cover;
}
.icon-radio-selected {
  background-image: url("../assets/imgs/status/icon_selected.png");
}
.icon-radio-unselected {
  background-image: url("../assets/imgs/status/icon_unselected.png");
}
