// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #488aff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222, white:#fff, black: #000);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

@import "roboto";
@import "noto-sans";
$main-text: #1b1b1b;
$secondary-text: #7f8393;
$border: #e2e7eb;
$green: #05d1af;
@mixin transform($content) {
  -webkit-transform: $content;
  -moz-transform: $content;
  -ms-transform: $content;
  -o-transform: $content;
  transform: $content;
}

@mixin transition($content) {
  -webkit-transition: $content;
  -moz-transition: $content;
  -ms-transition: $content;
  -o-transition: $content;
  transition: $content;
}

@mixin transform_origin($content) {
  -webkit-transform-origin: $content;
  -moz-transform-origin: $content;
  -ms-transform-origin: $content;
  -o-transform-origin: $content;
  transform-origin: $content;
}

.stage-page {
  background-color: white;
  .stage {
    width: 96%;
    margin-left: 5%;
    padding: 15px 0;
    border-bottom: 1px solid $border;
    overflow: hidden;
    &:last-child {
      border: none;
    }
    img {
      float: left;
      width: 50px;
      height: 50px;
      margin-right: 4.4%;
    }
    .title {
      float: left;
      line-height: 50px;
    }
    .user-img {
      width: 20px;
      height: 20px;
    }
    .user-title {
      float: left;
      line-height: 20px;
    }
  }
}

.shop-list {
  .stage {
    width: 100%;
    margin-left: 0;
    padding-left: 5%;
    border-top: none !important;
    border-top: 1px solid $border;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .title {
      line-height: 40px;
    }
  }
}

ion-header.header {
  .toolbar-background-ios,
  .toolbar-background-md {
    background: rgba(52, 61, 79, 1);
  }
  .toolbar-title {
    color: white;
    font-weight: 400;
  }
}
