// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
$icon-path: "../assets/imgs/icon.png";
$bg-image: "../assets/imgs/bg/";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #488aff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222, white:#fff, black: #000);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";

$white: #fff;
$main-text: #1b1b1b;
$secondary-text: #7f8393;
$blue:#343d4f;
$black-blue: #273043;
$border: #e2e7eb;
$box-border: #d6d6d6;
$green: #05d1af;
$green-light: #dffbf6;
$red: #fc3d31;
$gray: #333;
$gray-light: #999;
$yellow: #fdbe26;


@mixin transform($content) {
  -webkit-transform: $content;
  -moz-transform: $content;
  -ms-transform: $content;
  -o-transform: $content;
  transform: $content;
}

@mixin transition($content) {
  -webkit-transition: $content;
  -moz-transition: $content;
  -ms-transition: $content;
  -o-transition: $content;
  transition: $content;
}

@mixin transform_origin($content) {
  -webkit-transform-origin: $content;
  -moz-transform-origin: $content;
  -ms-transform-origin: $content;
  -o-transform-origin: $content;
  transform-origin: $content;
}

@mixin back_size($num) {
  -webkit-background-size: 640*$num + px 640*$num + px;
  -moz-background-size: 640*$num + px 640*$num + px;
  -ms-background-size: 640*$num + px 640*$num + px;
  -o-background-size: 640*$num + px 640*$num + px;
  background-size: 640*$num + px 640*$num + px;
}

@mixin box_shadow($content) {
  -webkit-box-shadow: $content;
  -moz-box-shadow: $content;
  -ms-box-shadow: $content;
  -o-box-shadow: $content;
  box-shadow: $content;
}

@mixin border_radius($radius:4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity($number){
  opacity: $number;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=ceil($number*100));
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=ceil($number*100));
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=ceil($number*100));
}

@import 'base';
@import 'baseUI';
@import 'comm';
@import 'feedBtn';
@import 'icon';
