<div class="point" [ngClass]="{ 'point-checkbox' : isassign }">
  <!-- 店长 -->
  <div class="point-content-body p-b-xxl" *ngIf="roletype === 2">
    <div class="point-title">
      <span>北京钟楼百货星巴克</span>
      <em class="icon-arrow-right f-none"></em>
    </div>
    <div class="point-content">
      <div class="point-img" (click)="goToOtherPage('OrderImgDetailPage')">
        <img alt="" src="assets/imgs/change-before.png">
      </div>
      <div class="point-body" (click)="goToOtherPage('ProblemDetailPage')">
        <p class="point-describe">
          <span class="address">A区8栋一层吧台区</span>
          <span *ngIf="!(roletype === 2)" class="currency">¥ 500</span>
          <em class="urgent-crash" *ngIf="roletype === 2 && listdata.emergency == 1">十万火急</em>
          <em class="urgent-crash" *ngIf="roletype === 2 && listdata.emergency == 2">紧急</em>
          <em class="urgent-general" *ngIf="roletype === 2 && listdata.emergency == 3">普通</em>
        </p>
        <p class="point-tag">{{ listdata.faultDes }}</p>
        <p class="point-action">
          <span>5张照片</span>
          <span *ngIf="!(roletype === 2)" class="question">灯管自然损坏</span>
        </p>
      </div>
    </div>
    <div class="point-retract" *ngIf="repairstatus < 3">
      <div class="btn-retract" (click)="deleteStoreRepairOrder()">撤回</div>
    </div>
  </div>
  <!-- 维修主管 -->
  <div class="point-content-checkox" *ngIf="roletype === 3">
    <label class="item-choice checkbox">
      <input value="2" type="checkbox" [(ngModel)]="listdata.isChecked" (change)="HandleIsChecked()">
      <ins class="checkbox-icon"></ins>
    </label>
  </div>
  <div class="point-content-body" *ngIf="roletype === 3">
    <div class="ponit-content-img">
      <img alt="" src="assets/imgs/change-after.png">
      <img alt="" src="assets/imgs/change-after.png">
      <img alt="" src="assets/imgs/change-after.png">
      <img alt="" src="assets/imgs/change-after.png">
      <img alt="" src="assets/imgs/change-after.png">
      <em class="icon-point"></em>
    </div>
    <div class="point-info">
      <p class="text title">刘梦想 15520981232：</p>
      <p class="text">A区8栋一层吧台区 {{ listdata.faultDes }}</p>
    </div>
    <div class="point-retract">
      <div class="btn-retract success" (click)="assignMaterial()">材料采购</div>
      <div class="btn-retract" *ngIf="!isassign" (click)="HandleReturnQuestion()">退回</div>
      <div class="btn-retract" *ngIf="isassign">转给</div>
    </div>
  </div>
  <!-- 维修员 -->
  <div class="point-content-body" *ngIf="roletype === 4">
    <div class="ponit-content-img">
      <img alt="" src="assets/imgs/change-after.png">
      <img alt="" src="assets/imgs/change-after.png">
      <img alt="" src="assets/imgs/change-after.png">
      <img alt="" src="assets/imgs/change-after.png">
      <img alt="" src="assets/imgs/change-after.png">
      <em class="icon-point"></em>
    </div>
    <div class="point-info">
      <p class="text title">刘梦想 15520981232：</p>
      <p class="text">A区8栋一层吧台区 {{ listdata.faultDes }}</p>
    </div>
  </div>
</div>
