<ion-header>
  <ion-navbar>
    <ion-title>苏南易维</ion-title>
  </ion-navbar>
  <div class="ibox-search">
    <input type="text" class="search-input">
    <ion-icon name="search-outline">&nbsp;搜索</ion-icon>
  </div>
  <div class="tabs">
    <ul class="tabs-list tabs-two">
      <li class="tab-btn" [ngClass]="{ 'active':status == 1 }" (click)="tabs(1)">
        <em class="text">我管辖的</em>
      </li>
      <li class="tab-btn" [ngClass]="{ 'active':status == 2 }" (click)="tabs(2)">
        <em class="text">全部店面</em>
      </li>
    </ul>
    <div class="tabs-content">
      <ul class="select-list" *ngIf="status == 1">
        <li class="item">
          <div class="item-img">
            <img src="assets/imgs/select/select-all.png" alt="">
          </div>
          <p class="name">全部</p>
        </li>
        <li class="item" *ngFor="let item of [1,2,3,4,5]">
          <div class="item-img">
            <img src="assets/imgs/change-before.png" alt="">
          </div>
          <p class="name">李明明</p>
        </li>
      </ul>
      <ul class="ranking-list" *ngIf="status == 2">
        <li class="ranking-item">星巴克</li>
        <li class="ranking-item">苏南易维</li>
        <li class="ranking-item active">星巴克</li>
        <li class="ranking-item">苏南易维</li>
        <li class="ranking-item">星巴克</li>
      </ul>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="row-ibox">
    <ul class="row-list">
      <li class="row-item" (click)="goToOtherPage()">
        <div class="item-img radius">
          <div class="img-center">
            <img alt="" src="assets/imgs/avater/avater_card.png">
          </div>
        </div>
        <div class="item-body">钟楼百货星巴克</div>
      </li>
      <li class="row-item" *ngFor="let item of store" (click)="goToOtherPage(item)">
        <div class="item-img radius">
          <div class="img-center">
            <img alt="" src="{{ this. item.url ? (RES_ROOT + item.url.fileRecord.filePath) : 'assets/imgs/avater/avater_card.png'  }}">
          </div>
        </div>
        <div class="item-body">{{ item.name }}</div>
      </li>
    </ul>
  </div>
  <div class="full-mask" *ngIf="status == 1 || status == 2" (click)="tabs(0)"></div>
</ion-content>
