<ion-header>
  <ion-navbar>
    <ion-title>苏南易维</ion-title>
  </ion-navbar>
  <div class="ibox-search">
    <input type="text" [(ngModel)]="search" (change)="HandleSearch()" class="search-input">
    <ion-icon name="search-outline">&nbsp;搜索</ion-icon>
  </div>
  <div class="tabs">
    <ul class="tabs-list tabs-two">
      <li class="tab-btn" [ngClass]="{ 'active':status == 1 }" (click)="tabs(1)">
        <em class="text">我管辖的</em>
      </li>
      <li class="tab-btn" [ngClass]="{ 'active':status == 2 }" (click)="tabs(2)">
        <em class="text">全部店面</em>
      </li>
    </ul>
    <div class="tabs-content tabs-scroll">
      <ul class="select-list" *ngIf="status == 1">
        <li class="item">
          <div class="item-img">
            <img src="assets/imgs/select/select-all.png" alt="">
          </div>
          <p class="name">全部</p>
        </li>
        <li class="item" *ngFor="let item of jurisdictionStore">
          <div class="item-img">
            <img src="{{ item.url ? (RES_ROOT + item.url.fileRecord.thumbnailPath) : 'assets/imgs/avater/avater_card.png' }}" alt="">
          </div>
          <p class="name">{{ item.name }}</p>
        </li>
      </ul>
      <ul class="ranking-list" *ngIf="status == 2 && store.length">
        <li class="ranking-item" *ngFor="let item of store">{{ item.name }}</li>
      </ul>
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-list *ngIf="store.length">
    <div class="row-ibox">
      <ul class="row-list">
        <li class="row-item" (click)="goToOtherPage(item)">
          <div class="item-img radius">
            <div class="img-center">
              <img alt="" src="assets/imgs/avater/avater_card.png">
            </div>
          </div>
          <div class="item-body">测试</div>
        </li>
        <li class="row-item" *ngFor="let item of store" (click)="goToOtherPage(item)">
          <div class="item-img radius">
            <div class="img-center">
              <img alt=""
                src="{{ item.url ? (RES_ROOT + item.url.fileRecord.thumbnailPath) : 'assets/imgs/avater/avater_card.png' }}">
            </div>
          </div>
          <div class="item-body">{{ item.name }}</div>
        </li>
      </ul>
    </div>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="0" *ngIf="store.length">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="empty" *ngIf="!store.length">
    <em class="text">暂无数据</em>
  </div>
  <div class="full-mask" *ngIf="status == 1 || status == 2" (click)="tabs(0)"></div>
</ion-content>